{% extends "base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
    <title>Vamlingbolaget | {% trans "Fynd " %} | {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }} </title>
    <meta name="description" content={% trans "Vamlingbolaget fynd" %} {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }}" %}/>
{%endblock%}

{% block pagetitle %}
	<legend><a href="javascript:history.go(-1)">{% trans "Kollektion" %}</a> / {{ product.article.name }} </legend>
{% endblock %}


{% block superstretchpage %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
    <div class="row">
      <div class="col-md-5">
        <img src="{{ product.image.url }}"  alt=" {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }}" style="width: 360px;"/>
      </div>
      <div class="col-md-5 pr-4 pr-5">
        <div class="media">
            <div class="media-body mb-0 small lh-125 border-gray">
                <div class="d-flex align-items-center w-100">
                      {{ product.title }}
                </div>
                <div>
                    <span> {{ product.description }}</span>
                </div>
            </div>
        </div>
        <div class="media-body pb-0 mb-0 border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
	           <div>
               {% trans "Pris" %}: {{ product.price }} SEK
             </div>
          </div>
        </div>
        <div class="media pt-3 ">
            <div class="media-body pb-3 mb-0 small lh-125 border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">


                        <button id="addtobargincart" class="btn btn-sm btn btn-success rounded-0 btn-block add-to-cart buttom" style="z-index: 66" type="button"> {% trans "Lägg till i Shoppingbag" %}</button>
                
                </div>
            </div>
        </div>
        <input id="item" type="hidden" value={{ product.id }}>




  </div> <!-- end of row -->
</main>
{% endblock %}
