{% extends "base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
    <title>Vamlingbolaget | {% trans "Fyndlåda " %}  </title>
    <meta name="description" content={% trans "Vamlingbolaget fyndlåda. Här lägger vi upp stuvar och udda produkter, välkommen att fynda!" %} />
{%endblock%}

{% block pagetitle %}
    <legend>{% trans "Stuvar" %}</legend>
{% endblock %}

{% block superstretchpage %}
<main role="main" class="col-md-10 col-lg-10 pt-3 px-4 offset-md-1">
  <div class="row pb-3 px-3">
      <div class="col-12 p-0">


              <img src="/media/stuvar.jpg" class="mt-3 mb-3" width="100%"/>
          <div> <strong>Vamlingbolagets stuvbitar </strong> är oftast fyrkantiga i formen, ibland smala och rektangulära och ibland mer kvadratiska. Kanterna kan vara
ojämna eller runda. Småfel kan förekomma. Stuvbitarna är inte strukna utan skickas i befintligt skick. </div>

<div class="mt-3">Vi väger stuvbitarna och mäter på ett ungefär bredden och längden. Kilopris för stuvbitarna är 600 kronor.<br>
Ordinarie pris silkestrikå är 350 kronor per meter, vilket blir 1050 kronor per kilo. Porto på 80 kronor tillkommer.</div>



      </div>
  </div>
    <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-3 mb-3 p-1 pl-3">
                <a href="{{product.pk}}">
                      <div class="collection_list" >
                            <img src="{{ product.image.url }}" class="lazy img-fluid"  alt="product image" width="200" />
                            <p class="mb-0 pt-2 s-80">
                                {{ product.title }}
                            </p>
                            <p class="text-muted price s-80">
                                {{ product.price }} SEK
                            </p>
                      </div>
                </a>
          </div>
        {% endfor %}
  </div>
</main>
{% endblock %}
