{% extends "base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
    <title>Vamlingbolaget | {% trans "Fyndlåda " %}  </title>
    <meta name="description" content={% trans "Vamlingbolaget fyndlåda. Här lägger vi upp stuvar och udda produkter, välkommen att fynda!" %} />
{%endblock%}

{% block pagetitle %}
    <legend>{% trans "Stuvar" %}</legend>
{% endblock %}

{% block superstretchpage %}
<main role="main" class="col-md-8 col-lg-9 pt-3 px-4 offset-md-2">
    <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-4 mb-3 p-1 pl-3">
          <a href="{{product.pk}}/">

                <a href="{{product.pk}}">
                        <div class="collection_list" >
                            <img src="{{ product.image.url }}" class="lazy img-fluid"  alt="product image" width="200" />
                        <p class="mb-0 pt-2 s-80">
                                {{ product.title }}  </p>

                              <p class="text-muted price s-80">    {{ product.price }} SEK</p>


                </a>

          </div>
        {% endfor %}
  </div>
</main>
{% endblock %}

    
