{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}



{% block pagetitle %}
	<legend> <a href="/projects/">Projects</a> /  {{project}}  ({{ project.prio }} {{ project.active }})</legend>
{% endblock %}

{% block allcontent %}
<div class="container">
<div class="row">
  <div class="col-xs-4 col-sm-4">
  {% if user.is_authenticated %}
	<h4>Description</h4>
    <hr> 
	 <ul>
	   <li class="list-group-item">
			{{project.description}}
	   </il>
       <hr>
       Find files here: <a href="https://www.dropbox.com/home/vamlingbolaget%20Team%20Folder/{{project.folder}}" alt="{{project.folder}}">dropbox/{{project.folder}}</a>

	 </ul>
  </div>
  <div class="col-xs-6 col-sm-6">
    <h4>Texts</h4>
       <hr>
       <ul>
       {% for f in files %}
			<li class="list-group-item"><a href="{{ f.link }}"> <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ f.title }}  </a></li>  
	  	{% endfor %}
	   </ul>
  </div>
</div>
<div class="row">
	{% if media %}
	<div class="col-xs-12 col-sm-12">
		<h4>Selected Media</h4>
		   <hr>
		   {% for m in media %}
		   <span> <a href="{{m.link}}"><img src="{{ m.link }}" class="img-responsive" alt="Responsive image"> </a>  </span>    
		   {% endfor %} 
	  </div>

	{% endif %}  
    <div class="col-xs-12 col-sm-11">
	<h4 id="toggle_todo">Do To</h4>
       <hr>
      {% for k in kanban %}
	<div class="" id="todo"> 
		<iframe src="{{k.link}}" width="100%" height="600px">
	</div>
	{% endfor %}
  </div>

{% else %}
<h4>loggin to see Synopsis</h4>
{% endif %}

</div>
</div>



{% endblock %}

