{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}



{% block pagetitle %}
	<legend> <a href="/projects/">Projects</a> /  {{project}}  ({{ project.prio }} {{ project.active }})</legend>
{% endblock %}

{% block allcontent %}
<div class="container">
<div class="row">
  <div class="col-xs-5 col-sm-5">
  {% if user.is_authenticated %}
	<h4>Description</h4>
    <hr> 
 <ul>
          <li class="list-group-item">
    		{{project.description}}
       </il>
 </ul>
  </div>
    <div class="col-xs-5 col-sm-5">
    <h4>Texts</h4>
       <hr>
       <ul class="list-group">
       {% for f in files %}
			<li class="list-group-item"><a href="{{ f.link }}"> <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ f.title }}  </a></li>
		  
	  	{% endfor %}
	   </ul>
  </div>

<div class="scroll col-xs-12 col-sm-11">
    <h4>Media</h4>
       <hr>
       
       {% for m in media %}
	  <span class="floating" > <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> :  {{ m.title }}  
	   <a href="{{m.link}}"> <img src="{{m.link}}" class="thumbnail" style="width:200px;"> </a>  
	   </span>
	   {% endfor %}  
	 
  </div>
  <div class="col-xs-4 col-sm-4">


    <div class="col-xs-12 col-sm-11">
	<h4 id="toggle_todo">Do To</h4>
       <hr>
      {% for k in kanban %}
	<div class="" id="todo"> 
		<iframe src="{{k.link}}" width="100%" height="600px">
	</div>
	{% endfor %}
  </div>

{% else %}
<h4>loggin to see Synopsis</h4>
{% endif %}

</div>
</div>

<br>
<br>
<br>
<br>

<br>

<br>

<br>

{% endblock %}
