*.sqlite3
*.log
*.pot
*.pyc
*.po*
*.mo*
local_settings.py
/env

vamlingbolaget/.idea
vamlingbolaget/vb.komodoproject
vamlingbolaget/db/*
vamlingbolaget/cart/migrations/
vamlingbolaget/vamlingbolaget/locale/*
vamlingbolaget/vamlingbolaget/locale/en/LC_MESSAGES/*
vamlingbolaget/vamlingbolaget/locale/en/LC_MESSAGES/django.po
vamlingbolaget/vamlingbolaget/locale/en/LC_MESSAGES/django.mo
vamlingbolaget/vamlingbolaget/locale/en/LC_MESSAGES/django.po~
vamlingbolaget/vamlingbolaget/locale/en/LC_MESSAGES/django.mo~
