{% extends "collection_base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "pacsoft " %}  </title>
<meta name="description" content={% trans "Tack för din Beställning av Vamlingbolagets produkter " %} />

{%endblock%}


{% block allcontent %}
{% if user.is_authenticated %}
<ul>
{% for art in articles %}
    <li> {{ art.article.name }}, {{ art.pattern.name }}, {{ art.color.name }}, {{ art.size.name }}, {{ art.stockquantity }}, {{ art.status }} </ul>
{% endfor %}

</ul>

{% endif %}
{% endblock %}

