{% extends "collection_base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "pacsoft " %}  </title>
<meta name="description" content={% trans "Tack för din Beställning av Vamlingbolagets produkter " %} />

{%endblock%}


{% block allcontent %}
{% if user.is_authenticated %}


<table>
{% for art in articles %}
  <tr>
    <td> {{ art.article.name }} </td> 
	<td>{{ art.pattern.name }} </td> 
	<td> {{ art.color.name }} </td> 
	<td>{{ art.size.name }} </td> 
	<td>{{ art.stockquantity }} </td>
    <td>{{ art.status }}</td>   
  </tr>
{% endfor %}

</table>

{% endif %}
{% endblock %}

<table style="width:100%">
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>

