{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block pagetitle %}
    <legend>{% trans "Artiklar" %} </legend>
{% endblock %}

{% block content %}
  {% for article in articles %}
     <div class="collection_list img_container" >
        <a href="/products/articles/article/{{article.pk}}/#{{ article.name }}">
            <div class="force_image">
              <img src="{% version article.file 'medium' %}" alt="Vamlingbolaget {{ article.name }}"  /></div>
              <div class='image_description'>
                <span class="artname"> {{ article.name }} </span><br/>
                {{ article.price }}  {{ article.sku_number }}
                </span> 
            </div>
        </a>
    </div>
  {% endfor %}
{% endblock %}


