{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block pagetitle %}
    <legend>{% trans "Artiklar" %} </legend>
{% endblock %}

{% block allcontent %}
  {% for article in articles %}
     <div class="collection_list img_container" >
            <div class="force_image">
              <img src="{% version article.file 'medium' %}" alt="Vamlingbolaget {{ article.name }}" /></div>
              <div class='image_description'>
                <span class="artname"> {{ article.name }} </span><br/>
                <span class="price">{{ article.price }} SEK</span> <br/> 
                <span class="artnum"> Art.nr: {{ article.sku_number }}</span>
                <hr> 
            </div>
    </div>
  {% endfor %}
{% endblock %}


