{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#intro"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> </span> </span> {% trans "Cut on Demand" %} </a> </li>
    <li><a data-toggle="tab" href="#art"> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span> {% trans "Artiklar" %} </a> </li>
    <li><a data-toggle="tab" href="#patterandcolor"> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span> {% trans "Färger och Mönster" %} </a></li>
    <li><a data-toggle="tab" href="#summary"> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" ></span> {% trans "Slutför" %} </a></li>
  </ul>
</div>

<div class="tab-content">
  <div id="intro" class="tab-pane fade in active">
    <h3>Intro</h3><span class="pull-right"><a data-toggle="tab" href="#art"> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span> {% trans "Välj bland Artiklar" %} </a> </span>
    <hr/>
    <p><img src="/media/cod.jpg"> </p>
    
  </div>
  <div id="art" class="tab-pane fade">
    <h3>Välj bland artiklar</h3>
    <hr/>
      <div class="pull-right"><a data-toggle="tab" href="#patterandcolor"> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span> {% trans "Färger och Mönster" %} </a>
        </div>
      {% for article in articles %}
     <div class="collection_list img_container article_small_icons" >
            <div class="force_image">
              <img src="{% version article.file 'medium' %}" alt="Vamlingbolaget {{ article.name }}" /></div>
              <div class='image_description'>
                <span class="artname"> {{ article.name }} </span><br/>
                <span class="price">{{ article.price }} SEK</span> <br/> 
                <span class="artnum"> Art.nr: {{ article.sku_number }}</span>
                <hr> 
            </div>
    </div>
  {% endfor %}
 
  </div>
  <div id="patterandcolor" class="tab-pane fade">
    <h3>Välj bland fönster och mönster</h3>
    <hr/>
     <div class="pull-right"><a data-toggle="tab" href="#summary"> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" ></span> {% trans "Slutför" %} </a></div>
  </div>
        {% for item in colorsandpatterns %}
        <div style="vertical-align: top; display: inline-block; text-align: center; width: 120px;">
        <img src="/media/uploads/120/{{ item.color.order }}f_{{ item.pattern.order }}m.jpg" width="100%"  id="{{ item.color.order }}_{{ item.pattern.order }}_{{ item.color.name }}_{{ item.pattern.name }}">
        <span style="display: block;">{{ item.color.name }} {{ item.pattern.name }}</span>
        </div>    
    {% endfor  %}
    
  <div id="summary" class="tab-pane fade">
    <h3>Summary</h3>
    <p>välj storlek och lägg till i shoppinglåda</p>
  </div>

</div>
{% endblock %}


