{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}
<div>
  <ul class="nav nav-tabs">
    <li class="active"><span class="glyphicon glyphicon-circle-arrow-right underline" aria-hidden="true"></span><a data-toggle="tab" href="#intro">{% trans "Cut on Demand" %} </a></li>
    <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><a data-toggle="tab" href="#art">{% trans "Artiklar" %} </a></li>
    <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><a data-toggle="tab" href="#patterandcolor">{% trans "Färger och Mönster" %} </a></li>
    <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><a data-toggle="tab" href="#summary">{% trans "Slutför" %} </a></li>
  </ul>
</div>

<div class="tab-content">
  <div id="intro" class="tab-pane fade in active">
    <h3>Intro</h3>
    <p>cut on demand is ... </p>
  </div>
  <div id="art" class="tab-pane fade">
    <h3>Välj artiklar</h3>
    <p>Artiklar</p>
  </div>
  <div id="patterandcolor" class="tab-pane fade">
    <h3>Välj fönster och mönster</h3>
    <p>Färger och Mönster</p>
  </div>
  <div id="summary" class="tab-pane fade">
    <h3>Summary</h3>
    <p>välj mönster och lägg till i shoppinglåda</p>
  </div>

</div>
{% endblock %}


