{% extends "reactbase.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}
<div id="react-container" style={padding-top:"200px"}></div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bundle.js"></script>
    <div id="translations" class="invisible">
         <span class="csrf_token invisible"> {% csrf_token %}</span>
      <span class="colorsandpatterns" id="colorsandpatterns"> {% trans "Färger och Mönster" %} </span

    </div> 
{% endblock %}


