{% extends "base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget |  {% trans "Färger och Mönster" %} </title>
<meta name="description" content={% trans "Färger och Mönster" %} />
{%endblock%}
{% block allcontent %}
<div class="selectedpatternandcolor">


</div>

<div>
<br/>
    {% for item in colorsandpattern %}
        <img src="/media/uploads/120/{{ item.color.order }}f_{{ item.pattern.order }}m.jpg" width="120"  id="{{ item.color.order }}_{{ item.pattern.order }}_{{ item.color.name }}_{{ item.pattern.name }}">
    {% endfor  %}
</div>
        <input type="hidden" id="pattern" name="pattern" value="0" >
        <input type="hidden" id="color" name="color" value="0">
{% endblock %}

