{% extends "base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget |  {% trans "Färger och Mönster" %} </title>
<meta name="description" content={% trans "Färger och Mönster" %} />
{%endblock%}
{% block allcontent %}
{% block pagetitle %}
    <legend>{% trans "Mönster och Färger" %} </legend>
{% endblock %}
<div>
<br/>
    {% for item in colorsandpattern %}
        <div style="vertical-align: top; display: inline-block; text-align: center; width: 120px;">
        <img src="/media/uploads/120/{{ item.color.order }}f_{{ item.pattern.order }}m.jpg" width="100%"  id="{{ item.color.order }}_{{ item.pattern.order }}_{{ item.color.name }}_{{ item.pattern.name }}">
        <span style="display: block;">{{ item.color.name }} {{ item.pattern.name }}</span>
        </div>    
    {% endfor  %}
</div>
        <input type="hidden" id="pattern" name="pattern" value="0" >
        <input type="hidden" id="color" name="color" value="0">
{% endblock %}

