{% extends "base.html" %}
{% load i18n %}
{% block allcontent %}
   <div class="span10">
    <legend><a href="javascript:history.go(-1)">{% trans "Kollektion" %} </a> / {% trans "Färger och Mönster" %}</legend>
    <table>
       {% for color in colors %}
       <tr>
           <td class="pattern_row"> {{  color.name }}:</td>
           {% for pattern in patterns %}
                 <td class="pattern_image"> <img src="{{ MEDIA_URL }}uploads/120/{{  color.order }}f_{{  pattern.order }}m.jpg" />
                 {{ pattern.name }}</td>
           {% endfor %}
       </tr>
       {% endfor %}
    </table>
{% endblock %}

