{% extends "collection_base.html" %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% block pagetitle %}
	<legend><a href="/products/">Kollektion</a> / {{ product.name }} </legend>
{% endblock %}


{% block allcontent %}
<div class="row-fluid">{{ images.pk }}
    <div class="span6">
        {% for image in images %}
        <img src="{% version image.image 'large' %}" class="imgborder" style="z-index: -1"/>
        {% endfor %}
        </br>
	<h5> {{ product.article.name }} i {{ product.combo.color }} {{ product.combo.pattern }} </h5>  
    </div>

    <div class="span6">
     
        <div class="span7">
		<h4> {{ product.article.name }} </h4>
		Artikelnummer: <span id="sku_number">{{ product.article.sku_number }}</span>  
		 <span id="article_pk">{{ product.article.pk }}</span>  
        </div>

        <img src="{{ product.article.image.image.url }}" >  </br>
        <hr/>
            <h4> Färg och Mönster </h4>  
        <hr/>

   
        <div class="span8">
	    <select class="changonselect" id="color">
		{% for color in colors %}
			<option value="{{ color.pk }}">{{ color.name }}</option>
		{% endfor %}
	    </select> 	    
	    <select class="changonselect" id='pattern'>
		{% for pattern in patterns %}
			<option  value="{{ pattern.pk }}">{{ pattern.name }}</option>
		{% endfor %}
	    </select> 	
		</br>
		</br>
	    <select id='size'>
		{% for size in sizes %}
			<option value="{{ size.pk }}">{{ size.name }}</option>
		{% endfor %}
	    </select> 	
	
	</div>
        <img id="pattern_color_image" src="{{product.combo.file.url}}" width="100" />
        <div style="clear: both;"></div>
        <hr/>


        <div id="changetext"></div>
        <script>
            $(".changonselect").change(function () {
                var str = "{{ product.article.name }}"+ " i ";
                var folder = "/media/combo/";
                var img = "";
                $(".changonselect option:selected").each(function () {
                    str += $(this).text() + " ";
                    var pattern_num = $("#pattern").val();
                    var color_num = $("#color").val();
                    img = folder+"m"+pattern_num+"c"+color_num+".jpg";
                });
                $("#changetext").text(str);
                $("#changeimg").text(img);
                $("#pattern_color_image").attr("src", img);
            })
                    .change();

        </script>

        <div style="clear: both;"></div>

        <div class="span7">
        <h4> Pris: {{ product.article.price }} kr </h4>

        </div>
        <div style="clear: both;"></div>

        <div id='app-canvas'>
        <button class="btn btn-success" type="button">Lägg till i Köplista</button>
        </div>
        <hr/>
	<hr/>



        <div class="span6">
        Kvalitet: {{ product.article.quality }}
        </br>        </br>        </br>
        </div>
        {{ product.article.quality.description }}  
         
        </div>
    </div>

    
{% endblock %}

