{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
    <legend>Kollektion / {{ product.name }} </legend>
    <div class="row-fluid">
    <div class="span6"><img src="{{ images.image_600.url }}" />
        </br>
	<h5> {{ product.article.name }} i {{ product.combo.color }} {{ product.combo.pattern }} </h5>  
    </div>
    
    <div class="span6">
     
        <div class="span7">
		<h4> {{ product.article.name }} </h4>
		Artikelnummer: <span id="sku_number">{{ product.article.sku_number }}</span>  
		 <span id="article_pk">{{ product.article.pk }}</span>  
        </div>

        <img src="{{ product.article.file.url }}" >  </br>
        <hr/>
            <h4> Färg och Mönster </h4>  
        <hr/>

   
        <div class="span7">
	    <select id="color">
		{% for color in colors %}
			<option value="{{ color.pk }}">{{ color.name }}</option>
		{% endfor %}
	    </select> 	    
	    <select id='pattern'>
		{% for pattern in patterns %}
			<option value="{{ pattern.pk }}">{{ pattern.name }}</option>
		{% endfor %}
	    </select> 	
		</br>
		</br>
	    <select id='size'>
		{% for size in sizes %}
			<option value="{{ size.pk }}">{{ size.name }}</option>
		{% endfor %}
	    </select> 	
	
	</div>
        <img src="{{ product.combo.file.url }}" width="100" />
        <hr/>

        
	<div class="span7">
        <h4> Pris: {{ product.article.price }} kr </h4>

        </div>
		<div class="span6" id="app-canvas">
	        <button class="btn btn-success" type="button">Lägg till i Köplista</button>
    	</div>		
        <hr/>
	<div id='app-canvas'> iiiiiiiiiiiiiiii 
	         <button class="add_item" type="button">ADD</button>
	</div>    
	<hr/>
            
        <div class="span6">
        Kvalitet: {{ product.article.quality }}
        </br>        </br>        </br>
        </div>
        {{ product.article.quality.description }}  
         
        </div>
    </div>
    </div>
    </div>
         
    
{% endblock %}

