{% extends "base.html" %}

{% block sidebar %}
   <div class="span3" style="min-height: 500px;float: right;">
     <h3>{% trans "Nyheter" %}</h3>
     <dl>
    {%for item in news %}
      </dd><h4>{{item.title}}</h4>
      {{item.body|safe|linebreaks}}
    {%endfor%}
    </dl>
    </div>
{% endblock %}

{% block content %}
   <div class="span8">

    <legend> {% trans "Välkommen" %} </legend>
        <div><img src="{{ STATIC_URL }}img/klanningar.jpg" />
        {% for product, image in products %}
            <div><img src="{{ image.image_300.url }}" alt="{{ product.name }}" />
            <a href="{{product.pk}}"> {{ product.name }} </a>
            {{ product.article.price }}
            </hr></div></br>
        {% endfor %}
    </div>
{% endblock %}
