{% extends "collection_base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}
    <main role="main" class="col-md-9 col-lg-9 pt-3 px-4"> 
        <div class="row">
        {% for product in products %}
        <!-- 3 img shop -->
            <div class="col-md-4 mb-3">
                <a href="/products/fulldetail/{{product.pk}}/#{{ product.variation.article.name }} {% trans "i" %} {{ product.variation.color|lower }} {{ product.pattern|lower }}">
                    {%if product.variation.article.quality.order > 15 or product.variation.article.quality.order == 2 %}
                        <img src="/media/variations/thumb/{{ product.oneimg }}.jpg" class="lazy img-fluid" alt="Vamlingbolaget {{ product.article.name }}"  />
                    {%else%}
                        <img src="/media/variations/thumb/{{ product.variation.article.sku_number }}_{{ product.variation.pattern.order }}_{{ product.variation.color.order }}_1.jpg" class="image_on lazy img-fluid" alt="Vamlingbolaget {{ product.article.name }}"  />
                        <img src="/media/variations/thumb/{{ product.variation.article.sku_number }}_{{ product.variation.pattern.order }}_{{ product.variation.color.order }}_2.jpg" class="image_off lazy img-fluid" alt="Vamlingbolaget {{ product.article.name }}"  />
                    {%endif%}
                        <p class="text-muted mb-0 s-80"> {{ product.variation.article.name }} </p>
                    {%if product.variation.article.discount %}
                        <span class="text-muted discount s-80"> {{ product.variation.article.f_discount }} </span> (<span class="text-muted s-80" style="text-decoration: line-through;">{{ product.variation.article.price }} </span>) <span class="text-muted s-80"> SEK </span>
                    {%else%}
                        <p class="text-muted price s-80">{{ product.variation.article.price }} SEK</p>
                    {%endif%}
                </a>
            </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}



