{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}

<div class="span12 well well-sm"> - CUT ON DEMAND - {% trans "Vi syr upp ditt unika pĺagg" %} </div>

    {% for product in products %}
         <div class="collection_list img_container" >
            <a href="/products/article/{{ product.variation.pk }}/#{{ product.variation.article.name }} {% trans "i" %} {{ product.variation.color|lower }} {{ product.pattern|lower }}"> 
                <div class="ribbon ribbonl">
                    <div class="ribbonlist">Cut On Demand</div>
                </div>
                <span class="hidden">{{ product.variation.article.quality }}</span>
                {%if product.variation.article.quality.order > 15 or product.variation.article.quality.order == 2   %} 
                    <div class="force_image"> <img src="media/{{ product.variation.article.file }}" class="lazy" alt="Vamlingbolaget {{ product.article.name }}"  />
                {%else%}
                    <div class="force_image"> <img src="/media/{{ product.variation.article.file }}" class="lazy" alt="Vamlingbolaget {{ product.article.name }}"  />
                {%endif%}
                    </div>
                <div class='image_description'>
                   <span class="artname"> {{ product.variation.article.name }}</span><br/>
                    {%if product.variation.article.discount %}
                        <span class="discount"> {{ product.variation.article.f_discount }} </span> (<span style="text-decoration: line-through;">{{ product.variation.article.price }} </span>) SEK
                    {%else%}
                        <span class="price">{{ product.variation.article.price }} SEK</span>
                    {%endif%}
                </div>
                <hr>          
            </a>
        </div>
    {% endfor %}
{% endblock %}



