{% extends "collection_base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}
    <main role="main" class="col-md-8 col-lg-9 pt-3 px-4 offset-md-2">
        <div class="row">

        <!-- 3 img shop -->

              <h1> Tack för att du vill handla hos oss </h1>
              <h2> Pågrund av högt tryck inventerar vi vår shop </h2>
              <h3> Vi återkommer inom ett par dagar </h3>
          

        </div>
    </main>
{% endblock %}
