{% extends "collection_base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block superstretchpage %}
    <main role="main">
        <div class="row">
            <div class="mx-auto">

              <div class="jumbotron">
                <h1 class="display-3">Tack för att du vill handla hos oss!</h1>
                <p class="lead">Pågrund av högt tryck inventerar vi vår shop.</p>
                <hr class="my-4">
                <p> Vi återkommer inom ett par dagar </p>

              </div>
              <!-- 3 img shop -->

            </div>
        </div>
    </main>
{% endblock %}
