{% extends "collection_base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block superstretchpage %}
    <main role="main">
        <div class="row">
            <div class="mx-auto">


        <!-- 3 img shop -->

              <h1> Tack för att du vill handla hos oss </h1>
              <h2> Pågrund av högt tryck inventerar vi vår shop </h2>

              <h3> Vi återkommer inom ett par dagar </h3>

    </div>
        </div>
    </main>
{% endblock %}
