{% extends "base.html" %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block pagetitle %}
    {%if galleries %}
        <!--legend > Galler{{ num_gallery|pluralize:"i,ier" }}</legend-->
    {%else%}
        <legend > {{ gallery.name|title }}</legend>
    {%endif%}
    
{% endblock %}

{% block allcontent %}

    <div class="gallery_list">
        {%if galleries %}

            {% for gallery in galleries %}
                {%if gallery.status == 'F'%}
                    <div class="gallery featured">
                        <legend> Senaste nytt! </legend>
                        <dl class="gallery_list">
                            <dd>
                                <a href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" />
                                <div class="overlay">&nbsp;Galleri: {{gallery.name}}</div></a>
                            </dd>
                        </dl>
                    </div>
                    <hr/>
                {%elif gallery.status == 'A'%}
                    <div class="gallery active">
                        <legend> Nya gallerier </legend>
                        <dl class="gallery_list active">
                            <dd>
                                <a href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" />
                                <div class="overlay"> &nbsp; Galleri: {{gallery.name}}</div></a>
                            </dd>
                        </dl>
                    </div>
                    <hr/>
                {%elif gallery.status == 'H'%}
                    <div class="gallery history">
                        <legend> Arkivgallerier </legend>

                        <dl class="gallery_list history">
                            <dd>
                                <a href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" />
                                <div class="overlay">&nbsp;Galleri: {{gallery.name}}</div></a>
                            </dd>
                        </dl>
                    </div>
                    <hr/>
                {%endif%}
            {% endfor %}

        {%else%}
                <div>
                    <a href="{% version gallery.feature_image 'large' %}" title="{{image}}" rel="lightbox[{{gallery}}]">
                        <img src="{% version gallery.feature_image 'medium' %}"  class="imgborder isfeatured" />
                    </a> 
                    {%for image in images%}
                    <a href="{% version image.image 'large' %}" title="{{image}}" rel="lightbox[{{gallery}}]">
                        <img src="{% version image.image 'thumbnail' %}"  class="imgborder enlarge" />
                    </a>    
                    {%endfor%}
                </div>
        {%endif%}
    </div>

{% endblock %}