{% extends "base.html" %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block pagetitle %}

<legend > Galler{{ num_gallery|pluralize:"i,ier" }}</legend>
{% endblock %}

{% block allcontent %}

    <div class="gallery_list">
        {%if galleries %}

            {% for gallery in galleries %}
            <dl class="gallery_list">

                <dd> <a href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" /></a></dd>
                <dd>Galleri: <a href="/gallery/{{gallery.pk}}" > {{gallery.name}}</a></dd>
            </dl>
            {% endfor %}

        {%else%}
            {% with gallery.image_set.all|first as image %}
            <div>
                <img src="{% version image.image 'large' %}" class="imgborder" />
            </div>
            {% endwith %}
        {%endif%}
    </div>

{% endblock %}