{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% block pagetitle %}
    <legend>{% trans "Shop" %}</legend>
{% endblock %}

{% block content %}

        {% for product in products %}
             <div class="collection_list img_container" >
                <a href="/products/{{product.pk}}/#{{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }}">
                    {% with product.image_set.all|first as image %}

                            <div class="force_image"><img src="{% version image.image 'medium' %}" alt="Vamlingbolaget {{ product.article.name }}"  /></div>
                            <br/>
                            <div class='image_description'>
                                {{ product.article.name }}<br/>
                                {% trans "Pris" %} :
                                {%if product.article.discount%}
                                    <span class="discount"> {{ product.article.f_discount }} </span> ({{ product.article.price }}) SEK
                                {%else%}
                                    {{ product.article.price }} SEK
                                {%endif%}
                            </div>

                    {% endwith %}
                </a>
            </div>
        {% endfor %}
{% endblock %}


