{% extends "collection_base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
    <title>Vamlingbolaget | {% trans "Kollektion" %} | REA : {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }} </title>
    <meta name="description" content={% trans "Vamlingbolaget kollektion " %} {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }}" %}/>
{%endblock%}
{% block allcontent %}
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="row">
            <div class="col-md-5">
                <a href="{{ product.image.url }}" data-lightbox="image-1" data-title="{{ product.article.name }} {% trans 'i' %} {{ product.color|lower }} {{ product.pattern|lower }}" >
                    <img src="{{ product.image.url }}" class="img-fluid" alt="REA : {{ product.article.name }} {% trans 'i' %} {{ product.color|lower }} {{ product.pattern|lower }}" />
                </a>
            </div>           
        
            <div class="col-md-5 pr-4 pr-5">
                 <div class="media">
                    <div class="media-body pb-3 mb-0 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                                <input id="article_pk" type="hidden" value="{{ product.article.pk }}">
                                <input id="rea_pk" type="hidden" value="{{ product.pk }}">

                                <div class="s-80"> REA : {{ product.article.name }}  </div>
                                <div class="discount s-80" id="the_price">  {{ product.rea_price }}  SEK </div> 
                        </div>
                    </div>
                </div> 
                <div class="media">
                    <div class="media-body pb-3 mb-0 border-bottom border-gray">
                        <div class="d-flex justify-content-end align-items-center w-100">       
                            <div class="s-80 mr-2"> 
                                 {% trans "tidigare pris" %}   
                            </div> 
                            <div class="s-80"> 
                                 {{ product.article.price }}  SEK 
                            </div>                
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body pb-3 mb-0 border-bottom small lh-125 border-gray">
                        <div class="d-flex justify-content-start align-items-center w-100">       
                        
                                
                                <div>{% trans "Art.Nr." %}: <span id="sku_number">{{ product.article.sku_number }}</div>
                                <div>{% trans "Kvalitet" %}: <span id="{{ product.article.quality }}">{{ product.article.quality }}</div> 
        
                                <div id="article_etc"> {{ product.article.name }} {% trans "i" %} {{ product.color }}, {{ product.pattern }}</div> 
                                <div>  {% trans "Storlek" %}: <span id="article_size"> {{ product.size }} </span> </div>  
                                <div> ( {{ product.stockquantity }} {% trans "kvar" %} ) </div> 
                               					
                             
                                         
                        </div>
                    </div>
                </div> 
                       
                <div class="media">
                    <div class="media-body pb-3 mb-0 border-bottom border-gray">
                        <div class="d-flex justify-content-start align-items-center w-100">       
                            
                                <div id="art_description" > - {{ product.article.description }} </div>                
                        </div>
                    </div>
                </div> 
                <div class="media">
                    <div class="media-body pb-3 mb-0 border-bottom border-gray">
                        <div class="d-flex align-items-center w-100">
                            <div id="addreatocart" style="display:block;">
                                <span style="padding-left: 30px;">
                                    <button class="btn btn-success rounded-0 btn-block" style="z-index: 66" type="button"> {% trans "Lägg till i Shoppinglåda" %}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
         
               
        </div> <!-- end of row -->
    </main>
{% endblock %}
