{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
    <title>Vamlingbolaget | {% trans "Kollektion" %} | REA : {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }} </title>
    <meta name="description" content={% trans "Vamlingbolaget kollektion " %} {{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }}" %}/>
{%endblock%}

{% block pagetitle %}
	<div class="row-fluid">
		<div class="span12" >
			<legend><a href="javascript:history.go(-1)">{% trans "Shop" %}</a> / REA: {{ product.article.name }} </legend>
		</div>
{% endblock %}

{% block allcontent %}
	<div class="span12">
		<div class="span4 img_container article_background" >
			 <a href="{{ product.image.url }}" data-lightbox="image-1" data-title="{{ product.article.name }} {% trans 'i' %} {{ product.color|lower }} {{ product.pattern|lower }}" >
				 <img src="{{ product.image.url }}" alt="REA : {{ product.article.name }} {% trans 'i' %} {{ product.color|lower }} {{ product.pattern|lower }}" />
			 </a>
	
			<div id="art_description" class="image_description_detail"> - {{ product.article.description }} 
			
	        </div>

		</div>

		<div class="span7">
			<span class="articlehead">
				<span id="articlename" >
					<input id="article_pk" type="hidden" value="{{ product.article.pk }}">
					<input id="rea_pk" type="hidden" value="{{ product.pk }}">
					REA : {{ product.article.name }} 
					| 
						<span>
								<span class="discount" id="the_price"> Nu:  {{ product.rea_price }}  :-  | </span>
								  ({% trans "tidigare pris" %} :  {{ product.article.price }}  :-)   ( +{{ product.stockquantity }} ) 
								<br />	   				 
						</span>
					
					<hr/> 
                    <blockquote>
                        <span>{% trans "Art.Nr." %}: <span id="sku_number">{{ product.article.sku_number }}</span> <br/>
						<span>{% trans "Kvalitet" %}: <span id="{{ product.article.quality }}">{{ product.article.quality }}</span>  <br/>

                        <span> {{ product.article.name }} {% trans "i" %} {{ product.color }}, {{ product.pattern }}</span>  <br/>
                        <span>  {% trans "Storlek" %}: {{ product.size }}</span>  
						<hr>						
						<span> {{ product.description }} </span> 
					</blockquote>
					<hr/>
				</span>
			</span>	
		<div style="clear: both;"></div>
		<div id="addreatocart" style="display:block;">
			<span style="padding-left: 30px;">
				<button class="btn btn-success btn-lg btn-block" style="z-index: 66" type="button"> {% trans "Lägg till i Shoppinglåda" %}</button>
			</span>
		</div>
		<div style="clear: both;"></div>
		<hr>
		</div> <!-- end span7 -->
	</div> <!-- end span12 -->

</script>
</div>

{% endblock %}
