{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% load endless %}
{% block pagetitle %}
    <legend>{% trans "Shop" %} / REA</legend>
{% endblock %}

{% block content %}
    {% if rea == "false" %}

    <h1> ... Ingen rea just nu  ... </h1>
    {% else %}

{% paginate products %}
        {% for product in products %}
             <div class="collection_list img_container" >
                <a href="/products/rea/{{product.pk}}/#{{ product.article.name }} {% trans "i" %} {{ product.color|lower }} {{ product.pattern|lower }}">
                    {% with product.image_set.all|first as image %}

                            <div class="force_image"><img src="{% version product.image 'medium' %}" alt="Vamlingbolaget {{ product.article.name }}"  /></div>
                            <div class='image_description'>
                               <span class="artname"> {{ product.article.name }} {% trans "i" %} {{ product.size }} </span><br/>
 															{{ product.pattern }} , {{ product.color }} <br/>
                                {%if product.article.discount%}

                                    <span class="discount"> {{ product.article.f_discount }} </span> ( {{ product.article.price }}) :-
                                {%else%}
                                    <span class="price"> <span class="discount"> {{ product.rea_price }} SEK </span>  ( ▼ <span style="text-decoration: line-through;">  {{ product.article.price }}</span> SEK ) <br> ( {{ product.stockquantity }} {% trans "Finns" %} ) </span>
                                {%endif%}
                            </div>

                    {% endwith %}
                </a>
            </div>
        {% endfor %}
<div>


<nav  class="page_num">
  <ul class="pagination"><li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li>
 {% show_pages %} 
 <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
 </ul>
</nav>
</div>
{% endblock %}


