{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% load endless %}
{% block pagetitle %}
    <legend>{% trans "Shop" %} / REA</legend>
{% endblock %}
{% block allcontent %}

<style type="text/css">
		.box {
		  float: left;
		  width: 20px;
		  height: 20px;
		  margin: 5px;
		  border: 1px solid rgba(0, 0, 0, .2);
		}
		.sizes {
		  float: left;
		  padding-right: 5px;
		  padding-left: 5px;
		  padding-top: 2px;
		  height: 20px;
		  margin: 5px;
		  border: 1px solid rgba(0, 0, 0, .2);
		}
		.iconimg {
		  width: 20px;
		  height: 20px;
		}

		#textsearch {
			width:100px;
		}



    </style>
</head>
<body>
    <div id="react-container"></div>
    <div id="container"></div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/bundle.js"></script>
</body>
</html>

{% endblock %}