{% load i18n %}
<div class="row firstrow">
      <!-- sidebar -->

      {% for t in types %}
       {{ t }}
      {% endfor %}

      {% for t in categories %}
      {{ t }}
     {% endfor %}
     {% for t in qualities %}
     {{ t }}
    {% endfor %}
   

      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="pt-2">
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1" href="/products/full/">  <!-- kvinna -->  <span class="text-uppercase"> {{ categories.0.name }} </span></a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/cat/{{ types.0.slug }}">  <span class="text-uppercase"> {{ types.0.name }} </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/cat/{{ types.1.slug }}">   <span class="text-uppercase"> {{ types.1.name }} </span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/ct/kvinna/{{ types.2.slug }}">   <span class="text-uppercase"> {{ types.2.name }} </span></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/qt/kvinna/{{ qualities.5.slug }}">   <span class="text-uppercase"> {{ qualities.5.name }} </span></a>
            </li> 
            
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/cat/{{ types.3.slug }}">   <span class="text-uppercase"> {{ types.3.name }} </span></a>
            </li>

          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.1.slug }}"> <!-- Man --> <span class="text-uppercase"> {{ categories.1.name }} </span> </a>

            </li>
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/ct/man/{{ types.2.slug }}">   <span class="text-uppercase"> {{ types.2.name }} </span></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/qt/man/{{ qualities.5.slug }}">   <span class="text-uppercase"> {{ qualities.5.name }} </span></a>
            </li> 
            <!--
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/quality/{{ qualities.3.slug }}"> <span class="text-uppercase"> {{ qualities.3.name }} </span>  </a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/quality/{{ qualities.4.slug }}"> <span class="text-uppercase"> {{ qualities.4.name }} </span>  </a>
            </li>
                -->
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.2.slug }}">   <!-- Barn --> {{ categories.2.name }}</a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.3.slug }}" >  <!-- Accessoarer -->  <span class="text-uppercase"> {{ categories.3.name }} </span> </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.4.slug }}">  <!-- Metervara --> {{ categories.4.name }} </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/fullcut/"> CUT ON DEMAND </a>     
            </li> 
            </ul>
          <ul class="nav flex-column linksactive mb-2"> 
            <li class="nav-item">
                  <a class="nav-link vb_link l-s-1" href="/products/patternandcolor/"><span class="text-uppercase"> {% trans "mönster och färger" %}   </span></a>          
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/rea/">REA </a>          
            </li>
          </ul>
        
        </div>
      </nav>
      <!-- /sidebar -->