{% extends "reactbase.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block allcontent %}
<div id="react-container" style={padding-top:"200px"}></div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/2.5af215f7.chunk.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.f6a22e38.chunk.js"></script>
    <div id="translations" class="invisible">
         <span class="csrf_token invisible"> {% csrf_token %}</span>
      <span class="colorsandpatterns" id="colorsandpatterns"> {% trans "Färger och Mönster" %} </span

    </div>
{% endblock %}
