{% extends "base.html" %}
{% load i18n %}
{%block title%}
    <title>Vamlingbolaget | {% trans "Nyheter och Blog" %} | {{ post.title }} </title>
    <meta name="description" content={% trans "Vamlingbolaget blogg" %}, {{ post.title }} />
{%endblock%}

{% block pagetitle %}
<div>
    <span ><legend> {% trans "Nyheter och Blog" %} </legend></span>
</div>
<div style="clear: both;"></div>
{% endblock %}
{% block allcontent %}

{% if post %}
<h2> {{ post.title }} </h2>
<div class="Small">( {{ post.created }} )</div>
<br/>
<div class="post_body">
     {{ post.body|safe }}
</div>
<div class="tags">
    {% if tag in post.tags.all %}
    {{ tag }} {% if not forloop.last %}, {% endif %}
    {% endif %}
</div>
{% endif %}
{% endblock %}
    