{% extends "base.html" %}
{% load i18n %}
{% block pagetitle %}
   <div>
    <span ><legend> {% trans "Nyheter och Blog" %} </legend></span>
  </div>
<div style="clear: both;"></div>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}

<hr/>
{% if posts %}
    {% for post in posts %}
        <h3> {{ post.title }} </h3>
            <small> ( {{ post.created }} ) </small>
                <hr />
                <div class="post_body">
                    {% ifequal post.blog.id  1 %}
                    {{ post.body|safe|linebreaks|truncatewords:150}}  <a href="{{ post.slug }}/"> {% trans "läs hela artikeln" %} </a>
                    {% else %}
                    {{ post.body|safe|linebreaks}}
                    {% endifequal %}

                    <div>
                </div>
                <div class="tags">
                    {% if tag in post.tags.all %}
                    {{ tag }} {% if not forloop.last %}, {% endif %}
                    {% endif %}
                </div>
                <hr />
		{% endfor %}
	{% endif %}
{% endblock %}