{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% block allcontent %}

  {% if user.is_authenticated %}


<table class="table table-bordered table-striped" >
	    <thead><tr>
		    <td>
		        <div>
		            <span> Log </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Log Level </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> date  </span>
		        </div>
		    </td>
		    <td>
		        <div>
		            <span> session / pid </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Ip / Id </span>
		        </div>
		    </td>
		       <td>
		        <div>
		            <span> Json </span>
		        </div>
		    </td>
		    </tr>
		    </thead>
	<tbody>
	    {% for log in logs %}
	    <tr>
		    <td>    
		        <div>
		            <span> <a href="/logger/{{ log.pk }}/">{{ log.date_added }}</a> </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> 
{{ log.title  }}
						
		           
		        </div>
		    </td>
		     <td>
		        <div>
		            <span>{% if log.log_level == 'INFO' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-primary text-center"> INFO </button>
						{% endif %}
						{% if log.log_level == 'WARN' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-danger text-center"> WARNING </button>
						{% endif %}
						{% if log.log_level == 'ERROR' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-error text-center"> ERROR </button>
						{% endif %}
						</span>
		        </div>
		    </td>
		        <td>
		        <div>
		            <span class="truncate"> {{ log.session_key }} </span>
		        </div>
		    </td>
		         <td>
		        <div>
		            <span> {{ log.ip }} </span>
		        </div>
		    </td>
		    <td>
		        <div>
		          {%  if log.json_dump  %} <span> <a href="/logger/{{ log.pk }}/">show</a>  

                           {% endif%}
		        </div>
		    </td>

	    {% endfor %}
		</tr> 
	</tbody>
</table>
    {% else %}
        <p> please ... </p>
    {% endif %}
{% endblock %}
