{% extends "base.html" %}
{% load fb_versions %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget |  {%trans "Gallerier" %} </title>
<meta name="description" content={%trans "Gallerier Vamlingbolaget, Mah-jong"%} />
{%endblock%}
{% version model.field_name version_prefix %}

{% block pagetitle %}
    {%if galleries %}
        <legend> {%trans "Gallerier" %}</legend>
    {%else%}
        <legend > <a href="/galleries/">{% trans "Alla gallerier" %}</a> / {{ gallery.name|title }}</legend>
    {%endif%}
    
{% endblock %}

{% block allcontent %}
    <div class="gallery_list">
        {%if galleries%}
            {%for status in statuses%}
                <h4>{{status.name}}</h4>
                {%for gallery in galleries%}
                    {% if gallery.status = status %}
                        <div style="float: left; display: inline;">
                            <div class="overlay">&nbsp;{{gallery.name}}</div>
                            <div class="galleries_list">
                                <a href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" style="margin-left:8px;width: 300px;" title="Fotograf: {{feature_image.photographer.name}}"/></a>
                            </div>
                        </div>
                    {%endif%}
                {%endfor%}
                <div style="clear: both"></div>
                <br />
            {%endfor%}
    </div>
        {%else%}
                <table border="0" cellpadding="0" class="gallery_table">
                    <tr>
                    <td valign="top" style="width: 240px;">
                        <a href="{% version gallery.feature_image 'large' %}" title="{{image.name}} {% if image.photographer.name%} Fotograf: {{image.photographer.name}} {%endif%} " data-lightbox="{{gallery}}">
                            <img src="{% version gallery.feature_image 'medium' %}" class="imgborder isfeatured gallery_img" />
                        </a>
                        {%for image in images%}
                            <a href="{% version image.image 'large' %}" title=" {{image.name}} {% if image.photographer.name%} Fotograf: {{image.photographer.name}} {%endif%} " data-lightbox="{{gallery}}">
                                <img src="{% version image.image 'medium' %}" class="imgborder enlarge gallery_img" />
                            </a>    
                            {% if forloop.counter == break1 or forloop.counter == break2 or forloop.counter == break3 %}
                                </td>
                                <td valign="top" class="gallery_td">
                            {%endif%}
                        {%endfor%}
                        </td>
                     </tr>
                </table>
        {%endif%}
    </div>

{% endblock %}
