{% extends "about_base_b.html" %}
{% load fb_versions %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget |  {%trans "Gallerier" %} </title>
<meta name="description" content={%trans "Gallerier Vamlingbolaget, Mah-jong"%} />
{%endblock%}
{% version model.field_name version_prefix %}

{% block content %}

        {%if galleries%}
            {%for status in statuses%}
                {%for gallery in galleries%}
                    {% if gallery.status = status %}
                    <div class="col-md-5 mb-5">
                        <div>
                            <a class="gallery_img_title" href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" class="img-thumbnail gallery_img" title="Fotograf: {{feature_image.photographer.name}}"/></a>
                        </div>
                        <div class="gallery_title">&nbsp;{{gallery.name}}</div>
                    </div>
                    {%endif%}
                {%endfor%}
               
            {%endfor%}

        {%else%}
        <div class="col-md-5 mb-5">
                <a href="{% version gallery.feature_image 'large' %}" title="{{image.name}} {% if image.photographer.name%} Fotograf: {{image.photographer.name}} {%endif%} " data-lightbox="{{gallery}}">
                    <img src="{% version gallery.feature_image 'medium' %}" class="img-thumbnailgallery_img" />
                </a>
                {%for image in images%}
                    <a href="{% version image.image 'large' %}" title=" {{image.name}} {% if image.photographer.name%} Fotograf: {{image.photographer.name}} {%endif%} " data-lightbox="{{gallery}}">
                        <img src="{% version image.image 'medium' %}" class="img-thumbnail gallery_img" />
                    </a>       
                {%endfor%}
           </div>    
        {%endif%}
    </div> <!-- end of row -->
</main>

{% endblock %}
