{% extends "base.html" %}
{% load fb_versions %}
{% load i18n %}
{% version model.field_name version_prefix %}

{% block pagetitle %}
    {%if galleries %}
        <!--legend > Galler{{ num_gallery|pluralize:"i,ier" }}</legend-->
    {%else%}
        <legend > <a href="/galleries/">{% trans "Alla gallerier" %}</a> / {{ gallery.name|title }}</legend>
    {%endif%}
    
{% endblock %}

{% block allcontent %}

    <div class="gallery_list">
        {%if galleries%}
            {%for status in statuses%}
                <h3>{{status.name}}</h3>
                {%for gallery in galleries%}
                    {% if gallery.status = status %}
                        <div style="float: left; display: inline;">
                            <div class="overlay">&nbsp;{{gallery.name}}</div>
                            <a href="/gallery/{{gallery.pk}}" ><img src="{% version gallery.feature_image 'medium' %}" /></a>
                        </div>
                    {%endif%}
                {%endfor%}
                <div style="clear: both"></div>
                <br />
            {%endfor%}
    </div>
        {%else%}
                <table border="0" cellpadding="0" style="width: 800px;">
                    <tr>
                    <td valign="top" style="width: 200px;">
                        <a href="{% version gallery.feature_image 'large' %}" title="{{image}}" rel="lightbox[{{gallery}}]">
                            <img src="{% version gallery.feature_image 'medium' %}"  style="width: 200px;" class="imgborder isfeatured" />
                        </a>
                    {%for image in images%}
                        <a href="{% version image.image 'large' %}" title="{{image}}" rel="lightbox[{{gallery}}]">
                            <img src="{% version image.image 'medium' %}" style="width: 200px;" class="imgborder enlarge" />
                        </a>    
                        {% if forloop.counter == break1 or forloop.counter == break2 or forloop.counter == break3 %}
                        </td>
                        <td valign="top" style="width: 200px;">        
                        {%endif%}
                    {%endfor%}
                        </td>
                     </tr>
                </table>
        {%endif%}
    </div>

{% endblock %}