{% extends "admin_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% block allcontent %}

  {% if user.is_authenticated %}
	<legend> <span class="glyphicon glyphicon-user" aria-hidden="true"> </span> Kund information (<a href="/admin/checkout/checkout/{{ order.pk }} "><span class="glyphicon glyphicon-edit" aria-hidden="true">Ändra</span></a>)</legend>

<table class="table table-bordered table-striped" >
	    <thead><tr>
		    <td>
		        <div>
		            <span> Kundnamn </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Adress </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Postkod</span>
		        </div>
		    </td>
		    		     <td>
		        <div>
		            <span> Stad  </span>
		        </div>
		    </td>
		    		     <td>
		        <div>
		            <span> Email </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Telefon </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span>Fortnox Id.</span>
		        </div>
		    </td>


		    </tr>
		    </thead>

	<tbody>	

	    <tr>
		    <td>
		        <div>
		            <span>  {{ order.first_name }}  {{ order.last_name }} </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span>  {{ order.street }}   </span>
		        </div>
		    </td>
		    		     <td>
		        <div>
		            <span>  {{ order.postcode }}   </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> {{ order.city }}</span>
		        </div>
		    </td>
		        <td>
		        <div>
		            <span> {{ order.email }} </span>
		        </div>
		    </td>
		         <td>
		        <div>
		            <span> {{ order.phone }} </span>
		        </div>
		    </td>
		     </td>
	         <td>
		        <div>
		            <span>  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> {{ customer_number }} </span> </span>
		        </div>
		    </td>		    

		</tr> 
		</tbody>
</table>

<legend> <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span>  Order detaljer </legend>
<table class="table table-bordered table-striped" >
	    <thead><tr>
		    <td>
		        <div>
		            <span> Ordernummer </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Orderstatus </span>
		        </div>
		    </td>
		    
		    		     <td>
		        <div>
		            <span> Betalnyckel </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Betalmetod </span>
		        </div>
		    </td>
		    <td>
		        <div>
		            <span width="300px">Processtatus</span>
		        </div>
		    </td>
		    </tr>
		    </thead>

	<tbody>	

	    <tr>
		    <td>
		        <div>
		            <span> {{ order.order_number }} </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> 

		            	{% if order.status == 'O' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-danger text-center"> Ordered </button>
						{% endif %}
						{% if order.status == 'P' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-danger text-center"> Ordered and Payed </button>
						{% endif %}
						{% if order.status == 'M' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-primary text-center"> In Production </button>
						{% endif %}
						{% if order.status == 'H' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-success text-center"> Packaging </button>
						{% endif %}
						{% if order.status == 'S' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-default text-center"> Shipping </button>
						{% endif %}
						{% if order.status == 'F' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-warning text-center">  Achived </button>
						{% endif %}
						</span> 
		        </div>
		    </td>
		  
		        <td>
		        <div>
		            <span> 	
		            	{% if order.paymentmethod == 'P' %}
						-
						{% endif %}
						TransId: {{ order.shipping_country }}  </span>
		        </div>
		    </td>
		         <td>
		        <div>
		            <span> 
		            	{% if order.paymentmethod == 'C' %}
						Payex
						{% endif %}
						{% if order.paymentmethod == 'P' %}
						Postförskott
						{% endif %}
						{% if order.paymentmethod == 'K' %}
						Klarna Checkout
						{% endif %}
		        </div>
		    </td>
		    <td width="400px">
		        <div>
		            <span>  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> {{ process_status|safe }} </span> </span>
		        </div>
		    </td>
		</tr> 
		</tbody>

</table>

<table class="table table-bordered table-striped" >
<tr>
    <th>
            <span> {% trans "Antal" %}  </span>
    </th>
    <th>
            <span> {% trans "Artikel" %}   </span>
    </th>
    <th>
            <span> {% trans "Färg" %} </span>
    </th>
    <th>
            <span> {% trans "Mönster" %} </span>
    </th>
    <th>
        <span> {% trans "Storlek" %} </span>
    </th>
    <th width="100px">
            <span> {% trans "Pris" %} </span>
    </th>
</tr>
<tbody>

	    {% for item in cartitems %}
	    <tr>
	    <td>
	        <div>
	            <span> {{ item.quantity }} {% if item.article.type.order == 8 %} meter {%endif%} </span>
	        </div>
	    </td>
	    <td>
	        <div>
	            <span> {{ item.article }} i {{item.article.quality|lower}} (stock : {{ stock }}) </span>
	        </div>
	    </td>
	    <td>
	        <div>
	            <span>{{ item.color }}
	            {%if item.color_2%}
	                / {{item.color_2}}
	            {%endif%}
	            </span>
	        </div>
	    </td>
	    <td>
	        <div>
	            <span>{{ item.pattern }}
	            {%if item.pattern_2%}
	                / {{item.pattern_2}}
	            {%endif%}
	            
	            </span>
	        </div>
	    </td>
        <td>
            <div>
                <span>{% if item.article.type.order == 8 or  item.article.type.order == 7  %} - {%else%} {{ item.size }} {%endif%}</span>
            </div>
        </td>
                <td>
            <div>
                <span> {{ item.article.price }} SEK </span>
            </div>
        </td>
                {% endfor %}

{% for item in reaitems %}
        <tr>
        <td>
            <div>
                <span> 1 </span>
            </div>
        </td>
        <td>
            <div>
                <span> {{ item.reaArticle.article.name }} i {{item.reaArticle.article.quality|lower}} <span class="discount"> (REA) </span>  </span>
            </div>
        </td>
        <td>
            <div>
                <span>{{ item.reaArticle.color }}
                {% if item.reaArticle.color_2 > 0 %}
                    / {{ item.reaArticle.color_2 }}
                {%endif%}
                </span>
            </div>
        </td>
        <td>
            <div>
                <span>
                    {{ item.reaArticle.pattern }}
                    {% if item.reaArticle.pattern_2 > 0 %}
                        / {{ item.reaArticle.pattern_2 }}
                    {%endif%}
                </span>
            </div>
        </td>
            <td>
                <div>
                    <span>{{ item.reaArticle.size }} </span>
                </div>
            </td>

            <td>
            <div>
           	<span class="discount"> {{ item.reaArticle.rea_price }} </span>(<span style=" text-decoration: line-through;" > {{item.reaArticle.article.price}} </span>)</span>
            </div>
        </td>
        {% endfor %}
<tr>
			<td class="totalprice" colspan="5" style="text-align: right">
			    {% trans "Leverans" %} :
			</td>
			<td id="handling">
			    {{ handling }} {%trans "SEK"%}
			</td>
		</tr>
			
		<tr>
			<th class="totalprice" colspan="5" style="text-align: right">
			    {% trans "Total pris" %} :
			</th>
			<th id="totalprice">
			    {{ totalprice }} {%trans "SEK"%}
			</th>
		</tr>
		{{returntotal}}
		<tbody>
	</tbody>
</table>

<table class="table table-bordered table-striped" >
	<tr>
	    <th width="33%">
	    	 <span class="glyphicon glyphicon-star" aria-hidden="true"> </span> Detta steg: {% if order.status == 'O' or order.status == 'P' %} 1 {% endif %} {% if order.status == 'M' %} 2 {% endif %} {% if order.status == 'H' %} 3 {% endif %}{% if order.status == 'S' %} 4 {% endif %}
	    </th>
	    <th width="33%">
	        <span class="glyphicon glyphicon-bell" aria-hidden="true"> </span> Händelse 
	    </th>
	    <th width="33%">
			 <span class="glyphicon glyphicon-comment" aria-hidden="true" > </span> Vad händer nu?
	    </th>
	</tr>
	<tbody>
	<tr>
    	<td> 
		{% if order.status == 'O' or order.status == 'P' %}
		    <div class="text-center"> 
		    	Detta är en ny order, kontrollera och aktivera den.
		    </div>
		{% endif %}
		{% if order.status == 'M' %}
		    <div class="text-center"> 
		    	<span class="glyphicon glyphicon-print" aria-hidden="true"> </span> 
		    	<a href="/{{ incolor_path }}">Skriv ut: Produktionssedel</a>
		    </div>
		{% endif %}
		{% if order.status == 'H' %}
			<div class="text-center">
			 Välj Fraktsätt --->
			</div>
		{% endif %}
		{% if order.status == 'S' %}
		    <div class="text-center">   	
		    	<span class="glyphicon glyphicon-print" aria-hidden="true"> </span> Frakt dokument samlas i <a href="https://www.unifaunonline.se/"> Unifaun </a>  
		    </div> 
			</div>
		{% endif %}
		{% if order.status == 'F' %}
		    Den här ordern är arkiverad.
		{% endif %}
		{% if order.status == 'C' %}
		    Den här order är avskriven.
		{% endif %}
		</td>
    	<td> 
		{% if order.status == 'O' or order.status == 'P'%}
			<div class="text-center"><a href="/orders/order/action/activate/production/{{ order.order_number }}/">
				<button type="button" id="activate_order" class="btn btn-large btn-primary text-center"> Aktivera Order </button></a>
			</div>
		{% endif %}
		{% if order.status == 'M' %}
			<div class="text-center">
				<a href="/orders/order/action/activate/packaging/{{ order.order_number }}/">
				<button type="button" id="activate_order" class="btn btn-large btn-success text-center"> Skapa Emballage och Faktura</button></a>
				
			</div>
		{% endif %}
		{% if order.status == 'H' %}
			<div class="text-center">
			
			<select name="Service" id="Service" size="0" tabindex="1">
				Välj fraktsätt: <option value="*SELECT*">- Välj -</option>
				<option value="PAF">PostNord - Brevpostförskott</option>
				<option value="PUA">PostNord - Varubrev 1:a klass</option>
				<option value="P15" selected="selected">PostNord DPD Företagspaket</option>
			</select>

		<div id="urlbase" class="hidden">/orders/order/action/activate/shipping/{{ order.order_number }}/</div>
			 <a id="target_url" href="/orders/order/action/activate/shipping/{{ order.order_number }}/PAF/">
			    <br><button type="button" id="activate_order" class="btn btn-large btn-warning text-center"> Aktivera Frakt </button>
			    </a>
		         
			</div>
		{% endif %}
		{% if order.status == 'S' %}
			<div class="text-center">
			<a href="/orders/order/action/finalize/finalize/{{ order.order_number }}/">
			<button type="button" id="activate_order" class="btn btn-large btn-danger text-center"> Arkivera Order </button></a>	
		{% endif %}
		{% if order.status == 'F' %}
	
				<div class="text-center"><a href="/orders/order/action/activate/production/{{ order.order_number }}/"><button type="button" id="activate_order" class="btn btn-xs btn-primary text-center"> Återaktivera ordern för produktion </button></a></div>
		{% endif %}
		{% if order.status == 'C' %}
			<div class="text-center"><button type="button" id="activate_order" class="btn btn-large btn-default text-center"> Den här orden är struken</button></div>
			<div class="text-center"><hr><a href="/orders/order/action/activate/production/{{ order.order_number }}/"><button type="button" id="activate_order" class="btn btn-large btn-primary text-center"> Återaktivera ordern för produktion </button></a><hr></div>
		{% endif %}
		</td>
		<td> 
		{% if order.status == 'O' or order.status == 'P' %}
		    <div class="text-center"> 
		    	Ett bekräftelsemail kommer att skicka till {{ order.email }}. se nedan.
		    </div>
		{% endif %}
		{% if order.status == 'M' %}
			<div class="text-center">En faktura skapas i Fortnox</div> 
		 {% endif %}
		 {% if order.status == 'H' %}
			En Unifaun-Postnord order kommer att skapas och lagras i Unifaun för utskrift.
		 {% endif %}
	     {% if order.status == 'S' %}
			Du kan skriva ut Unifaun-Postnord-slippen nu eller senare i <a href="https://www.unifaunonline.se/"> Unifaun </a>. 
		{% endif %}
		{% if order.status == 'F' %}
		            <a href="/orders/">{% trans "Se Alla Ordrar" %}</a
		{% endif %}
		</td> 
	</tr> 

</tbody>
</table>

		{% if secondmessage %}
			<legend>Bekräftels-email, email2</legend> 
				<tr>
					<td>
						<pre>{{ secondmessage }}</pre>
					 </td>
				</tr> 
					
		{% endif %}

		
		{% if order.status == 'O' or order.status == 'P' %}
			<legend>Order-email</legend> 
				<tr>
					<td>
						<pre>{{ order.message }}</pre>
					 </td>
				</tr> 
					
		{% endif %}
	    <th>
	        <legend><span class="glyphicon glyphicon-minus" aria-hidden="true"> </span> Överigt <br></legend>
	        <a href="/orders/order/action/cancel/cancel/{{ order.order_number }}/">(ta bort ordern från orderlistan)</a>
	    </th>
    {% else %}
        <p> please ... </p>
    {% endif %}
{% endblock %}
