{% extends "admin_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{% block allcontent %}

  {% if user.is_authenticated %}
<legend> Vamlingbolaget Web Orders </legend>
		    Filtrera: <a href="/orders/orders/all/"><button type="button" id="activate_order" class="btn btn-xs btn-info text-center">
			All Orders </button></a> |     
			<a href="/orders/orders/ordered/"><button type="button" id="activate_order" class="btn btn-xs btn-danger text-center">
			Ordered </button>
			</a> |    
			<a href="/orders/orders/making/"><button type="button" id="activate_order" class="btn btn-xs btn-primary text-center"> 
			In production</button>
			</a> |      
			<a href="/orders/orders/handling/"><button type="button" id="activate_order" class="btn btn-xs btn-success text-center">
			Packing </button> </a> |     
			<a href="/orders/orders/shipped/"><button type="button" id="activate_order" class="btn btn-xs btn-default text-center">
			Shipping </button> </a> |      
			<a href="/orders/orders/finlized/"><button type="button" id="activate_order" class="btn btn-xs btn-warning text-center">Arcived</button>
			</a>
   		<hr>
<table class="table table-bordered table-striped" >
	    <thead><tr>
		    <td>
		        <div>
		            <span> Order datum </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Status </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Order Nummer </span>
		        </div>
		    </td>
		    		     <td>
		        <div>
		            <span> Kundnamn </span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> Betalmetod </span>
		        </div>
		    </td>
		       <td>
		        <div>
		            <span> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span>
		        </div>
		    </td>
		    </tr>
		    </thead>
	<tbody>
	    {% for order in checkouts %}
	    <tr>
		    <td>
		        <div>
		            <span> <a href="/orders/order/{{ order.order_number }}/">{{ order.date_added }} </a></span>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span><a href="/orders/order/{{ order.order_number }}/">
						{% if order.status == 'O' or order.status = 'P' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-danger text-center"> Ordered </button>
						{% endif %}
						{% if order.status == 'M' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-primary text-center"> In Production </button>
						{% endif %}
						{% if order.status == 'H' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-success text-center"> Packaging </button>
						{% endif %}
						{% if order.status == 'S' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-default text-center"> Shipping </button>
						{% endif %}
						{% if order.status == 'F' %}
						<button type="button" id="activate_order" class="btn btn-xs btn-warning text-center"> Achived </button></a>
						{% endif %}
		            </a>
		        </div>
		    </td>
		     <td>
		        <div>
		            <span> <a href="/orders/order/{{ order.order_number }}/">{{ order.order_number }}</a> </span>
		        </div>
		    </td>
		        <td>
		        <div>
		            <span> <a href="/orders/order/{{ order.order_number }}/">  {{ order.first_name }}  {{ order.last_name }}</a> </span>
		        </div>
		    </td>
		         <td>
		        <div>
		            <span> <a href="/orders/order/{{ order.order_number }}/">{{ order.paymentmethod }}</a> </span>
		        </div>
		    </td>
		    <td>
		        <div>
		            <span> <a href="/orders/order/{{ order.order_number }}/"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span></a> </span></a>
		        </div>
		    </td>

	    {% endfor %}
		</tr> 
	</tbody>
</table>
    {% else %}
        <p> please ... </p>
    {% endif %}
{% endblock %}
