{% extends "base_error.html" %}

{%block title%}
<title>Vamlingbolaget | 500 </title>
<meta name="description" content={% trans "Vamlingbolagets 500" %} />

{%endblock%}
{% block pagetitle %}
      <legend>  {% trans "Vamlingbolaget 500" %} </legend>
{% endblock %}

{% block allcontent %}
<div class="alert alert-info">
     <ul>
        <li>
         500: Internal Server Error
        </li>
     </ul>
</div>
<div class="alert alert-info">
     <ul>
        <li>
         Internt fel på själva webbservern
        </li>
     </ul>
</div>
{% endblock %}


