{% extends "base_b.html" %}
{% load i18n %}
{% block sidebar %}

        <ul class="nav flex-column linksactive pb-5">
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-2 font-weight-bold" href="/products/full/"> <span class="text-uppercase">{% trans "Shop" %}</span>  </a>
        </li>
        <li class="nav-item">
                        <a class="nav-link vb_link l-s-1 ml-2" href="/products/cut/">  <span class="text-uppercase">{% trans "Cut on Demand" %} </span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link vb_link l-s-1 ml-2" href="/products/rea/">REA </a>          
                    </li>
                  
        </ul>    
        <ul class="nav flex-column linksactive">    
        {% include "about_links.html" %}
        

        {% include "order_terms_links.html" %} 
  
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1 pl-5" href="/mah-jong/"> <span class="text-uppercase"> {% trans "Om Mah-Jong" %} </span></a>
        </li>
 
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1 pl-5"  href="/galleries/"> <span class="text-uppercase">{% trans "Bildgallerier" %}</span></a>
        </li>
 
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1 pl-5"  href="/news/"><span class="text-uppercase">{% trans "Nyheter" %}</span></a>
        </li>                                           
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1 pl-5"  href="/newsletter/"><span class="text-uppercase">{% trans "Nyhetsbrev" %}</span></a>
        </li>
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1 pl-5" href="/press/"><span class="text-uppercase"> {% trans "Press" %} </span></a>
        </li>
        <hr/>
        <li class="pl-4">
            <a class="pl-4" href="http://www.facebook.com/VamlingbolagetStockholm" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.facebook.com/VamlingbolagetStockholm&amp;source=gmail&amp;ust=1462995515849000&amp;usg=AFQjCNFa3CUpPuy-zD7ldYEF5kdQWgth-g"> <img src="/media/facebook.png" width="20" />
            <a class="pl-2" href="https://www.instagram.com/vamlingbolaget/" target="_blank"> <img src="/media/instagram.png" width="20" /></a>
        </li>

      

    </ul>
  
 </span>
{% endblock %}
