{% load i18n %}
<li>
    <a href="/about/">{% trans "Om Vamlingbolaget" %} </a>
</li>
<li>
    <a href="/shops/"> {% trans "Kontakt" %} </a>
</li>
<li>
    <a href="/ethics/"> {% trans "Vår värdegrund" %}</a>
</li> <br>
... 
<br>
<li>
<a href="http://www.facebook.com/VamlingbolagetStockholm" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.facebook.com/VamlingbolagetStockholm&amp;source=gmail&amp;ust=1462995515849000&amp;usg=AFQjCNFa3CUpPuy-zD7ldYEF5kdQWgth-g"> <img src="/media/facebook.png" width="20" />
 {% trans "Gilla oss på Facebook" %}  </a>
</li>
<li>
<a href="https://www.instagram.com/vamlingbolaget/" target="_blank"> <img src="/media/instagram.png" width="20" /> 
{% trans "Följ oss på instagram" %} </a>
</li>