{% extends "base.html" %}
{% load i18n %}
{% block sidebar %}
 <span >
    <ul class="hidden-xs nav coll_menu_ul">

        {% include "about_links.html" %}
        
        <hr>
        {% include "order_terms_links.html" %}


        <hr>
        <li>
            <a href="/sthlm/"> {% trans "Vamlingbolaget Stockholm" %} </a>
        </li>

        <hr>
        <li>
            <a href="/mah-jong/"> {% trans "Om Mah-Jong" %} </a>
        </li>


        <hr>
        <li>
            <a href="/press/"> {% trans "Press" %} </a>
        </li>

    </ul>
 </span>
{% endblock %}
