{% extends "base_b.html" %}
{% load i18n %}
{% block sidebar %}

        <ul class="nav flex-column linksactive">
        {% include "about_links.html" %}
        

        {% include "order_terms_links.html" %}

        <li class="nav-item">
                <a class="nav-link vb_link l-s-1"  href="/sthlm/"> {% trans "Vamlingbolaget Stockholm" %} </a>
        </li>
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/mah-jong/"> {% trans "Om Mah-Jong" %} </a>
        </li>
 
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1"  href="/galleries/">{% trans "Bildgallerier" %}</a></li>
 
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1"  href="/news/">{% trans "Nyheter" %}</a>
        </li>                                           
        <li class="nav-item">
                <a class="nav-link vb_link pl-5"  href="/newsletter/">{% trans "Nyhetsbrev" %}</a>
        </li>
        <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/press/"> {% trans "Press" %} </a>
        </li>
        <hr/>
        <li>
            <a class="pl-4" href="http://www.facebook.com/VamlingbolagetStockholm" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.facebook.com/VamlingbolagetStockholm&amp;source=gmail&amp;ust=1462995515849000&amp;usg=AFQjCNFa3CUpPuy-zD7ldYEF5kdQWgth-g"> <img src="/media/facebook.png" width="20" />
            <a class="pl-4" href="https://www.instagram.com/vamlingbolaget/" target="_blank"> <img src="/media/instagram.png" width="20" /></a>
        </li>

      

    </ul>
  
 </span>
{% endblock %}
