{% load i18n %}
<li class="nav-item">
	<a class="nav-link vb_link l-s-1" href="/about/#"> <span class="text-uppercase font-weight-bold">{% trans "om oss" %} </span></a>
</li>
<li class="nav-item">
	<a class="nav-link vb_link l-s-1" href="/ethics/" id="ethics" class="onlysv"> <span class="text-uppercase">{% trans "Vår värdegrund" %}</span></a>
</li> 
<li class="nav-item">
	<a class="nav-link vb_link l-s-1"  href="/shops/"> <span class="text-uppercase">{% trans "Butiker" %} {% trans "och" %} {% trans "Kontakt" %} </span></a>
</li> 


