{% extends "base.html" %}
{% load i18n %}
{% block sidebar %}
    <ul class="hidden-phone nav coll_menu_ul">

        {% if rea == 'true' %}
		<h5>Rea Filter</h5> 
		<h6>{% trans "Filter" %} : {% trans "Storlek" %}</h6> 

         {% for size in sizes %}
                    <a href="/products/rea/size/{{size}}"> {{ size }} </a> | 
         {% endfor %}

		<h6>{% trans "Filter" %} : {% trans "Typ" %}</h6> 


         {% for t in atypes %}
                    <a href="/products/rea/type/{{t.order}}"> {{ t }} </a> | 
         {% endfor %}

		{% endif %}
        <hr>

		<li>
			<a href="/products/rea/" class="discount"> REA </a>
		</li>  
        <hr>
            <h5>{% trans "Ordinarie Sortiment:" %}</h5>      
        <hr>
        <h5>{% trans "Kategorier" %}</h5>
        {% for type in types %}
    		{% if type.slug == 'bargain'%}
				<li>
					<a href="/products/{{type.slug}}"> {{ type.name }} </a>
				</li>
			{%else%}
				<li>
					<a href="/products/type/{{type.slug}}"> {{ type.name }} </a>
				</li>
			{% endif %}
        {% endfor %}


        
        <br/>
        <h5>{% trans "Kvaliter" %}</h5>
        {% for quality in qualities %}
            {% if quality.order == 11 or quality.order == 10 or quality.order == 9 or quality.order == 1   %}
                <li>
                    <a href="/products/quality/{{quality.slug}}"> {{ quality.name }} </a>
                </li>
            {% endif %}
        {% endfor %}
        <br/>


        <h5>{% trans "Översikt" %}</h5>
        <li>
             <a href="/colorsandpatterns/">{% trans "Färger och Mönster" %} </a>
             <a href="/linemodels/">{% trans "Modeller" %} </a>
             
        </li>
        <br/>
        <h5>{% trans "Samarbeten" %}</h5>
        <li>
            <a href="/stickeri/">{% trans "Stickeri" %} </a>
        </li>
    </ul>
{% endblock %}
