{% extends "base_b.html" %}
{% load i18n %}
{% block shopmenu %}
    <div class="row firstrow">
      <!-- sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar">
   

              {{ types }} 
            
        <div class="pt-2">
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1" href="/products/full/"> <span class="text-uppercase"> {{ types.0.name }} </span></a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/type/klanning"> KLÄNNING / TUNIKA </a>
            </li>
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/type/trojor-och-linnen"> TRÖJOR / LINNEN </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ types.1.slug }}"> <span class="text-uppercase"> {{ types.1.name }} </span> </a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/q/man/man"> MANCHESTER </a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/q/man/skj"> SKJORTOR </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ types.2.slug }}"> {{ types.2.name }}</a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ types.3.slug }}"" > <span class="text-uppercase"> {{ types.3.name }} </span> </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/"{{ types.4.slug }}"> {{ types.3.name }} </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/fullcut/">CUT ON DEMAND </a>     
            </li> 
            </ul>
          <ul class="nav flex-column linksactive mb-2"> 
            <li class="nav-item">
                  <a class="nav-link vb_link l-s-1" href="/products/patternandcolor/">MÖNSTER OCH FÄRGER</a>          
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/rea/">REA </a>          
            </li>
          </ul>
        
        </div>
      </nav>
      <!-- /sidebar -->
 

{% endblock %}
