{% extends "base_b.html" %}
{% load i18n %}
{% block shopmenu %}
    <div class="row firstrow">
      <!-- sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar">
   

              {{ types }} 
            
        <div class="pt-2">
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1" href="/products/full/">  <!-- kvinna -->  <span class="text-uppercase"> {{ categories.0.name }} </span></a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/type/klanning"> KLÄNNING / TUNIKA </a>
            </li>
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/type/trojor-och-linnen"> TRÖJOR / LINNEN </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.1.slug }}"> <!-- Man --> <span class="text-uppercase"> {{ categories.1.name }} </span> </a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/q/man/man"> MANCHESTER </a>
            </li>
            <li class="nav-item mt-0">
                <a class="nav-link vb_link l-s-1 ml-1 mt-0" href="/products/q/man/skj"> SKJORTOR </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.2.slug }}">   <!-- Barn --> {{ categories.2.name }}</a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.3.slug }}" >  <!-- Accessoarer -->  <span class="text-uppercase"> {{ categories.3.name }} </span> </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/type/{{ categories.4.slug }}">  <!-- Metervara --> {{ categories.4.name }} </a>
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/fullcut/"> CUT ON DEMAND </a>     
            </li> 
            </ul>
          <ul class="nav flex-column linksactive mb-2"> 
            <li class="nav-item">
                  <a class="nav-link vb_link l-s-1" href="/products/patternandcolor/"><span class="text-uppercase"> {% trans "mönster och färger" %}   </span></a>          
            </li>
          </ul>
          <ul class="nav flex-column linksactive mb-2">
            <li class="nav-item">
                <a class="nav-link vb_link l-s-1" href="/products/rea/">REA </a>          
            </li>
          </ul>
        
        </div>
      </nav>
      <!-- /sidebar -->
 

{% endblock %}
