{% extends "base.html" %}

{% block sidebar %}

    <ul class="nav-list query">
        <h5>Kategorier</h5>
        {% for type in types %}
        <li>

            <a href="/products/type/{{type.slug}}"> {{ type.name }} </a>

        </li>
        {% endfor %}
        <br/>
        <h5>Kvaliter</h5>

        {% for quality in qualities %}
        <li>

            <a href="/products/quality/{{quality.slug}}"> {{ quality.name }} </a>

        </li>
        {% endfor %}

    </ul>
{% endblock %}