{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
    <ul class="" style="margin-left: -10px;">
        <h5>Kategorier</h5>
        {% for type in types %}
            <li>
                <a href="/products/type/{{type.slug}}"> {{ type.name }} </a>
            </li>
        {% endfor %}
        <br/>
        <h5>Kvaliter</h5>
        {% for quality in qualities %}
            <li>
                <a href="/products/quality/{{quality.slug}}"> {{ quality.name }} </a>
            </li>
        {% endfor %}
        <li>
             <a href="/patternandcolor/">{% trans "Färger och Mönster" %} </a>
        </li>
    </ul>
{% endblock %}