{% load i18n %}
<hr>
<footer class="bg-footer py-6 s-80-upper">
        <div class="row col-11">
          <div class="col ml-md-4 pl-md-4 pr-0" style="min-width: 220px;">
            <div class="s-90-upper">Vamlingbolaget</div>
            <ul class="list-unstyled small">
                <li>
                    <address>
                         623 31 Burgsvik<br/>
                         <abbr title="Phone">Tel:</abbr> 0498-498080 <br/>
                         info@vamlingbolaget.com <br/>
                    </address>
                </li>  
                <li>
                    <strong>{% trans "Öppettider" %} </strong><br/>
                    <address>
                    {% trans "Midsommar" %}- 15 {% trans "Augusti" %} <br/>
                    {% trans "Vardagar" %} 11.00 - 17.00 <br/>
                    {% trans "Lördagar" %} 12.00 - 15.00 <br/>
                                                            
                    {% trans "Augusti" %} <br/>
                    {% trans "Vardagar" %} 11.00 - 17.00 <br/><br/>
                    {% trans "Övriga året" %} <br/>
                    {% trans "Vardagar" %} 11.00 - 16.00 <br/> 

                    </address>
                </li>
            </ul>
          </div>
          <div class="col" style="min-width: 220px;">
            <div class="s-90-upper">  {% trans "Leveransvillkor" %} </div>
            <ul class="list-unstyled">
                <li>
                    <a href="/paymentterms/" class="onlysv">  <span class="text-uppercase small"> {% trans "Leveransvillkor" %} </span></a>
            </li>
            </ul>
          </div>
          <div class="col" style="min-width: 220px;">
            <div class="s-90-upper">GKF - Visby</div>
            <ul class="list-unstyled small">
              <li>
                Wallérs plats 5 <br/>
                621 56 Visby <br/>
                <abbr title="Phone">Tel:</abbr> 0498 21 03 49 <br/>
                info@gkf.nu
            </address><br/><br/>
            </li>
            <li>
            <strong>{% trans "Öppettider" %} </strong><br/>
            <address>
                {% trans "september" %} - {% trans "maj" %}: <br/>
                {% trans "mån, tor, fre" %} 12.00 - 18.00 <br/>
                {% trans "Lördagar" %} 11.00 - 14.00 <br/><br/>
                {% trans "juni" %} - {% trans "augusti" %}: <br/>
                {% trans "Vardagar" %} 11.00 - 18.00 <br/>
                {% trans "Lördagar" %} 11.00 - 15.00 <br/><br/>
            </address>
        </li>
            </ul>
          </div>
          <div class="col" style="min-width: 220px;">
            <div class="s-90-upper">About</div>
        
                    <ul class="list-unstyled">
                     {% include "about_links.html" %}
                    </ul>
             
                
            
           
          </div>
        </div>
      </footer>
