{% load i18n %}
{% load menu %}

<div class="invisible" id="widget_text_start" >{% trans "+" %}</div>
<div class="invisible" id="widget_size" >{% trans "Storlek" %}</div>
<div class="invisible" id="widget_exist" >{% trans "Det finns" %}</div>
<div class="invisible" id="widget_text_end" >{% trans "av denna artikel" %}</div>
<div class="invisible" id="widget_text_in" >{% trans "i" %}</div>
<div class="invisible" id="widget_text_remove" >{% trans "Vill du ta bort denna post?" %}</div>
<div class="invisible" id="source_size" >{% trans "Storlek" %}</div>
<div class="invisible" id="source_squality" >{% trans "Kvalitet - silkestrikå 41 % ekologisk bomull och 59 % viskos. Tvättas i 40 grader. " %} </div>

