{% load i18n %}
{% load menu %}

<div class="invisible noheig" id="widget_text_start" >{% trans "+" %}</div>
<div class="invisible noheig" id="widget_size" >{% trans "Storlek" %}</div>
<div class="invisible noheig" id="widget_exist" >{% trans "Det finns" %}</div>
<div class="invisible noheig" id="widget_text_end" >{% trans "av denna artikel" %}</div>
<div class="invisible noheig" id="widget_text_in" >{% trans "i" %}</div>
<div class="invisible noheig" id="widget_text_remove" >{% trans "Vill du ta bort denna post?" %}</div>
<div class="invisible noheig" id="source_squality" >{% trans "Kvalitet - silkestrikå 41 % ekologisk bomull och 59 % viskos. Tvättas i 40 grader. " %} </div>
<div class="invisible noheig" id="source_choosemodel" >{% trans "Välj Modell" %}</div>
<div class="invisible noheig" id="source_choosefabric" >{% trans "Välj Tyg" %}</div>
<div class="invisible noheig" id="source_choosesize" >{% trans "Välj Storlek" %}</div>
<div class="invisible noheig" id="source_choose" >{% trans "Välj" %}</div>
<div class="invisible noheig" id="source_thisn" >{% trans "denna" %}</div>
<div class="invisible noheig" id="source_thist" >{% trans "detta" %}</div>
<div class="invisible noheig" id="source_fabric" >{% trans "Tyg" %}</div>
<div class="invisible noheig" id="source_art" >{% trans "Modell" %}</div>
<div class="invisible noheig" id="source_size" >{% trans "Storlek" %}</div>
<div class="invisible noheig" id="source_choosen" >{% trans "Du har valt" %}</div>
<div class="invisible noheig" id="source_sum" >{% trans "Summa" %}</div>
<div class="invisible noheig" id="source_makechoose" >{% trans "Gör ditt val" %}</div>
<div class="invisible noheig" id="source_add" >{% trans "Lägg till i shoppingbag" %}</div>