{% load i18n %}
<li class="nav-item">
		<a class="nav-link vb_link l-s-1"  href="/order/">{% trans "Så beställer du" %} </a>
</li>
<li class="nav-item">
		<a class="nav-link vb_link pl-5"  href="/paymentterms/">{% trans "Handla" %} </a>
</li>
<li class="nav-item">
		<a class="nav-link vb_link pl-5"  href="/paymentoptions/">{% trans "Betalsätt" %} </a>
</li>
<li class="nav-item">
		<a class="nav-link vb_link pl-5"  href="/shipmentterms/" class="onlysv">{% trans "Fraktvillkor" %} </a>
</li>
<li class="nav-item">
		<a class="nav-link vb_link pl-5"  href="/deliveryterms/" class="onlysv">{% trans "Leveransvillkor" %} </a>
</li>
<li class="nav-item">
		<a class="nav-link vb_link pl-5"  href="/returnterms/" class="onlysv">{% trans "Returer och byten" %} </a>
</li>
