{% extends "collection_base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{%block title%}
    <title>Vamlingbolaget | {% trans "Ändra beställning av " %} {{ cartitem.article.name }} </title>
    <meta name="description" content={% trans "Ändra beställning av Vamlingbolagets produkt " %} {{ cartitem.article.name }} />
{%endblock%}

{% block pagetitle %}
<legend><a href="javascript:history.go(-1)">Din shoppinglåda</a> / {% trans "Du ändrar nu din beställning" %} <span id="cartitem_id" style="display: none;">{{ cartitem.id }}</span> </legend>
{% endblock %}

{% block allcontent %}
<br /><blockquote><strong>{% trans "Artikel" %}: <span id="articleupdate"> {{ cartitem.article.name }}  ( {{ cartitem.article.sku_number }} ) </span>{% trans "i" %}  {{ cartitem.article.quality }}</strong></blockquote>
     <div class="hidden product_type">{{product.article.type.order}}</div>
        <div class="hidden sku_number">{{ cartitem.article.sku_number }}</div>
<table class="table table-bordered small">
    <tbody>
        <tr>
              <td>
        <div>
            <span> {% if cartitem.article.type.order == 7 %}
            <select class="changonselectupdate" id='quantiy_pk'>
                <option value="1" selected="selected"> {% trans "Meter" %}: 1 </option>
                <option value="2"> {% trans "Meter" %}: 2 </option>
                <option value="3"> {% trans "Meter" %}: 3 </option>
                <option value="4"> {% trans "Meter" %}: 4 </option>
                <option value="5"> {% trans "Meter" %}: 5 </option>
                <option value="6"> {% trans "Meter" %}: 6 </option>
            </select>
            {% else %}
            <select class="changonselectupdate"  id='quantiy_pk'>
                <option value="1" selected="selected"> {% trans "Antal" %}: 1 </option>
                <option value="2"> {% trans "Antal" %}: 2 </option>
                <option value="3"> {% trans "Antal" %}: 3 </option>
                <option value="4"> {% trans "Antal" %}: 4 </option>
            </select>
            {% endif %}
        </span>
        </div>
    </td>
        <td>
            <img src="{% version cartitem.article.file 'large' %} " alt="{{ cartitem.article.name }} {% trans "i" %} {{ cartitem.color|lower }}"/>
        </td>

        {% if cartitem.article.quality.order == 2 or cartitem.article.quality.order == 4 %}
        <!----------------------------------machester och plysch ------------------------>
        <td>
            {% for color in colors %}
                <img src="{{ MEDIA_URL }}/uploads/120/{{ color.order }}f_{{ color.order }}m.jpg" width="100" />
                <label class="radio inline">
                    <input type="radio" name="radio" {%if color_id == color.order %} checked="checked" {%endif%}  id="radio_{{ color.order }}" value="{{ color.order }}" />
                </label>
            {% endfor %}
            <input id="hidden_colorpattern" type="hidden" value="">
        </td>
        {%elif cartitem.article.sku_number == '9805' %}
		<!----------------------------------9805 vandbar jacka------------------------>
		<td>
            <select class="changonselectupdate" id='pattern2'>
                {% for pattern in patterns %}
                    <option value="{{ pattern.order }}"
                    {% if pattern.order == cartitem.pattern2.order %}
                        selected="selected"
                    {%endif%}
                    ">
                    {%trans "Mönster Insida"%} : {{ pattern.name }}</option>
                {% endfor %}
            </select>
            <select class="changonselectupdate" id='pattern'>
                {% for pattern in patterns %}
                    <option value="{{ pattern.order }}"
                    {% if pattern.order == cartitem.pattern.order %}
                        selected="selected"
                    {%endif%}
                    ">
                    {%trans "Mönster Utsida"%} : {{ pattern.name }}</option>
                {% endfor %}
            </select>
		</td>
        <td>
            <select class="changonselectupdate" id="color">
                {% for color in colors %}
                    <option value="{{ color.order }}"
                        {% if color.order == cartitem.color.order %}
                            selected="selected"
                        {%endif%}
                        ">
                    {%trans "Färg Utsida"%} : {{ color.name }} </option>
                {% endfor %}
            </select>
            <select class="changonselectupdate" id="color2">
                {% for color in colors %}
                    <option value="{{ color.order }}"
                        {% if color.order == cartitem.color2.order %}
                            selected="selected"
                        {%endif%}
                        ">
                    {%trans "Färg Insida"%} : {{ color2.name }} </option>
                {% endfor %}
            </select>
        <td>
            <img id="pattern_color_image2" src="{{ MEDIA_URL }}/uploads/120/{{ cartitem.color2.order }}f_{{ cartitem.pattern2.order }}m.jpg" style="width:100px;" />
            <img id="pattern_color_image2" src="{{ MEDIA_URL }}/uploads/120/{{ cartitem.color2.order }}f_{{ cartitem.pattern2.order }}m.jpg" style="width:100px;" />
        </td>
        {% else %}
        <td>
            <select class="changonselectupdate" id='pattern'>
                {% for pattern in patterns %}
                    <option value="{{ pattern.order }}"
                    {% if pattern.order == cartitem.pattern.order %}
                        selected="selected"
                    {%endif%}
                    ">
                    {% trans "Mönster" %}: {{ pattern.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select class="changonselectupdate" id="color">
                {% for color in colors %}
                    <option value="{{ color.order }}"
                        {% if color.order == cartitem.color.order %}
                            selected="selected"
                        {%endif%}
                        ">
                    {% trans "Färg" %}: {{ color.name }} </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <img id="pattern_color_image" src="{{ MEDIA_URL }}/uploads/120/{{ cartitem.color.order }}f_{{ cartitem.pattern.order }}m.jpg" width="100" />
        </td>
        {% endif %}

        <td>
            <div>
            {%if cartitem.article.type.order == 7  %}
            {%else%}
                <select class="changonselectupdate" id='size'>
                {% for size in sizes %}
                <option value="{{ size.pk }}" > {% trans "Storlek" %}: {{ size.name }} </option>
                {% endfor %}
                </select>
            {% endif %}
            </div>
        </td>


    </tr>
   </tbody>
</table>

<table class="table table-bordered small">
   <tbody>
        <tr>
            <td>
                <button class="btn  btn-warning" onclick="javascript:history.go(-1)" type="button">{% trans "Avbryt" %}</button>
            </td>
            <td>
                <div class="alert alert-success span8" id="changetextupdate"> </div>
            </td>
            <td>
                <div>
                    <span>
                        <button id='changecart' class="btn btn-success" type="button">{% trans "Uppdatera" %}</button>
                    </span>
                </div
            </td>
        </tr>
   </tbody>
</table>
{% endblock %}
