{% extends "collection_base.html" %}

{% block pagetitle %}
    <legend> Din köplista </legend>
{% endblock %}

{% block allcontent %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
                <span> Antal </span>
        </th>
        <th>
            <span>  </span>
        </th>
        <th>
                <span> Artikel </span>
        </th>
        <th>
                <span> Färg </span>
        </th>
        <th>
                <span> Mönster </span>
        </th>
        <th>
                <span> Kvalietet </span>
        </th>
        <th>
                <span> Pris </span>
        </th>
    </tr>
    </thead>
    <tbody>
    {%if cartitems%}
        {% for item in cartitems %}
        <tr>
            <td>
                    <span> {{ item.quantity }}</span>
            </td>
            <td>
                <i id="{{item.id}}" class="icon-remove-sign"></i>
            </td>
            <td>
                    <span> {{ item.article }}</span>
            </td>
            <td>
                    <span>{{ item.color }} </span>
            </td>
            <td>
                    <span>{{ item.pattern }}</span>
            </td>
            <td>
                    <span> {{ item.article.quality }} </span>
            </td>
            <td>
                    <span> {{ item.article.price }} </span>
            </td>
        </tr>

        {% endfor %}
        <tr>
            <th>{{totalitems}}</th>
            <td colspan="4">
            </td>
            <th>
                Total pris:
            </th>
            <th>
                {{ totalprice }}
            </th>
        </tr>
    {% else %}
        <tr>
        <td colspan="7">
            Det ligger inget i din shoppinglåda än. <a href="/products/">Börja utforska utbudet!</a>
        </td>
        </tr>

    {% endif %}

    </tbody>
</table>

<script type="text/javascript">

</script>

{% endblock %}
