{% extends "collection_base.html" %}

{% block pagetitle %}
    <legend> Din köplista </legend>
{% endblock %}

{% block allcontent %}

    <table class="table table-bordered">
    <thead>
    <tr>
        <th>
                <span> Antal </span>
        </th>
        <th>
            <span>  </span>
        </th>
        <th>
                <span> Artikel </span>
        </th>
        <th>
                <span> Färg </span>
        </th>
        <th>
                <span> Mönster </span>
        </th>
        <th>
                <span> Kvalietet </span>
        </th>
        <th>
                <span> Pris </span>
        </th>
    </tr>
    </thead>

    <tbody id="shoppinglist">


    </tbody>
    {%if cartitems %}
        <th>
            Total pris:
        </th>
        <th>
            {{ totalprice }}
        </th>
    </tr>
    {% else %}
    <tr>
        <td colspan="7">
            Det ligger inget i din shoppinglåda än. <a href="/products/">Börja utforska utbudet!</a>
        </td>
    </tr>
    </tbody>



    {% endif %}

    </tbody>
</table>

<script type="text/javascript">

</script>

{% endblock %}
