{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%if cartitems or bargains or rea %}
<table class="table table-sm mb-4 border-bottom">
	<thead>
		{% include "checkout/table_head.html" %}
	</thead>

	<tbody class="mb-3">
	    {% for item in cartitems %}
	    <tr class="pb3">
	    <td>
	        <div>
	            <span> {{ item.quantity }} {% if item.article.type.order == 8 %} meter {%endif%} </span>
	        </div>
	    </td>
	    <td>
	        <div>
	            <span> {{ item.article }} i {{item.article.quality|lower}}</span>
	        </div>
	    </td>
	    <td>
	        <div>
	            <span>{{ item.color }}
	            {%if item.color_2%}
	                / {{item.color_2}}
	            {%endif%}
	            </span>
	        </div>
	    </td>
	    <td>
	        <div>
	            <span>{{ item.pattern }}
	            {%if item.pattern_2%}
	                / {{item.pattern_2}}
	            {%endif%}
	            
	            </span>
	        </div>
	    </td>
        <td>
            <div>
                <span>{% if item.article.type.order == 8 or  item.article.type.order == 7  %} - {%else%} <span class="badge badge-info">  {{ item.size }}  </span> {%endif%}</span>
            </div>
        </td>
        <td>
        	<div>
	            {%if item.article.discount%}
	            <span class="discount"> {{ item.article.f_discount }} SEK </span>
	            {%else%}
	              {% if item.article.oldprice %} SEK <span style=" text-decoration: line-through;" >{{item.article.oldprice}}SEK </span><br/> {%endif%} 
	            {{ item.article.price }} SEK
	            {%endif%}
	        </div>
	    </td>
	     {%if item.s_type == 'COD' %}       
        </tr>
        <tr>

            <td colspan="1"> 
            +
            </td>

            <td colspan="1"> 
               Cut on demand för {{ item.article.name }} 
            </td>

            <td colspan="3"> 
                 Cut on demand
            </td>
            <td> 
                 140 SEK
            </td>
        </tr>
        {%endif%}
	    {% endfor %}
	</tr>
	    {% for b in bargains %}
	    
	        <td>
	            <div>
	                <span> 1</span>
	            </div>
	        </td>
	        <td>
	            <div>
	                <span> {{ b.bargain.title }} : {{ b.bargain.description }}  </span>
	            </div>
	        </td>
	        <td>
	            <div>   </div>
	        </td>
	        <td>
	            <div> - </div>
	        </td>
	        <td>
	            <div> - </div>
	        </td>
	        <td>
	            <div>
	                <span> {{ b.bargain.price }} SEK </span>
	            </div>
	        </td>
	        {% endfor %}


		{% for item in rea %}
        <tr>
        <td>
            <div>
                <span> 1 </span>
            </div>
        </td>
        <td>
            <div>
                <span> {{ item.reaArticle.article.name }} i {{item.reaArticle.article.quality|lower}} <span class="discount"> (REA) </span>  </span>
            </div>
        </td>
        <td>
            <div>
                <span>{{ item.reaArticle.color }}
                {% if item.reaArticle.color_2 > 0 %}
                    / {{ item.reaArticle.color_2 }}
                {%endif%}
                </span>
            </div>
        </td>
        <td>
            <div>
                <span>
                    {{ item.reaArticle.pattern }}
                    {% if item.reaArticle.pattern_2 > 0 %}
                        / {{ item.reaArticle.pattern_2 }}
                    {%endif%}
                </span>
            </div>
        </td>
            <td>
                <div>
                    <span> <span class="badge badge-info">  {{ item.reaArticle.size }}  </span> </span>
                </div>
            </td>

            <td>
            <div>
           	<span class="discount"> {{ item.reaArticle.rea_price }} SEK </span>(<span style=" text-decoration: line-through;" > {{item.reaArticle.article.price}} SEK</span>)</span>
            </div>
        </td>
        {% endfor %}
       
	    {%if cartitems or bargains or rea %}

	    {%if voucher %}
		<tr class="voucher_show">
		    <td class="voucher" colspan="5" style="text-align: right">
				Rabattkod / Voucher: 
			</td>
			<td id="totalprice">
				<span class="label label-success"> 15% på dyraste plagget </span> 
			</td>
	  	</tr>
		{% endif %}
		<tr>
			<td class="totalprice" colspan="5" style="text-align: right">
			    {% trans "Leverans" %} :
			</td>
			<td id="handling">
			    {{ handling }} {%trans "SEK"%}
			</td>
		</tr>
			
		<tr>
			<th class="totalprice" colspan="5" style="text-align: right">
			    {% trans "Total pris" %} :
			</th>
			<th id="totalprice">
			    {{ totalprice }} {%trans "SEK"%}
			</th>
		</tr>
   		{%else%}
	    <tr id="empty">
	        <td colspan="8">
	            {% trans "Det ligger inget i din shoppinglåda än" %}. <a href="/products/">{% trans "Börja utforska utbudet" %}!</a>
	        </td>
	    </tr>
	{% endif %}
	</tbody>
</table>

<form action="" method="post" class="form-horizontal" id="order_form">{% csrf_token %}

	{{ form.subject.post }}
		<input type=hidden name="paymentmethod" id="id_paymentmethod" value="C">
    {{ form.paymentmethod.errors }}
    
<h5 class="mb-3">{% trans "Välj betalningsmetod" %}</h5>
<table class="table table-sm mb-5 border-bottom">

	<tr height="45px">
	    <td>
	    	<img src="/media/logo_payex.png" /> 
	    </td>

	    <td>
			<ul class="nav nav-button">
                <li class="active">
                    <div class="form-check">  
                        <a href="" class="radiopay" data-toggle="tab" id="C">  
                            <input type="radio" checked="checked" class="form-check-input"  name="payment" value="card"> {% trans "Betala med Payex" %}
                        </a> 
                    </div>
                </li>
			</ul>
		</td>	

		<td width='60%'>
			<div class="paymenttext active" id="card">
				<ul>
					<li>
						{% trans "Fyll i dina uppgifter och skicka beställningen" %}. 
						{% trans "Efter genomförd betalning bekräftas ditt köp" %}. 
					</li>
				</ul>
			</div>
	    </td>

	</tr>

	<tr height="45px">
		<td>
			    	<img src="/media/postforskott.png" /> 
	    </td>
		<td>
			<ul class="nav nav-pills">
			    <li>
                    <div class="form-check"> 
                        <a href="" class="radiopay"  data-toggle="tab" id="P">
                            <input type="radio" class="form-check-input" name="payment" value="post"> 
                            {% trans "Betala via postförskott" %}
                        </a>
                    </div>
			    </li>
			</ul>
		</td>
		<td>
			<div class="paymenttext hidden" id="post">
                <ul> 
                   <li> 
                   		{% trans "Fyll i dina uppgifter och skicka beställningen" %}. 
	                    {% trans "Du betalar vid leverans" %}. 
	                </li>
                </ul>
			</div>
		</td>
	</tr>
    {% if klarna_test == '1' %}
	<tr height="45px">
		<td>
	    </td>
		<td>
			<ul class="nav button">
			    <li>
			    	<a href="#"  class="radiopay"  data-toggle="tab" id="K">
			    		<input type="radio" name="payment" value="klarna"> 
			    		{% trans "Betala med Klarna" %}
			    	</a>
			    </li>
			</ul>
		</td>
		<td>
			<div class="paymenttext hidden" id="klarna">
               <ul>
					<li> 
						{% trans "Fortsätt genom att betala med Klarna Checkout" %}.
					</li>
               </ul>
  			</div>
		</td>
	</tr>	
	{% endif %}
</table>

<table id="adress_form" class="table table-sm border-top-0">
	<tr>
		<th>
            <h5 class="mb-3">{% trans "Adressuppgifter" %} </h5>
		</th>
		<th>
            <h5 class="mb-3"> {% trans "Kontaktuppgifter" %} </h5>
		</th>
	</tr>
	<tr>
		<td>
            <div class="col-md-10">
		    <div class="form-group" id="first_name">
                   
		    <label for="id_first_name">{% trans "Förnamn" %} </label> 
                <input id="id_first_name" type="text" class="form-control" name="first_name" maxlength="80" required="">
              
		         <div class="invalid-feedback">
		            {{ form.first_name }} *
		            {{ form.first_name.errors }}
		        </div>
		    </div>
		
		    <div class="form-group" id="last_name">
		      <label for="id_last_name">{% trans "Efternamn" %} </label> 
             <input id="id_last_name" type="text"  class="form-control" required="" name="last_name" maxlength="80">
		         <div class="invalid-feedback">
		            {{ form.last_name }}
		            {{ form.last_name.errors }} *
		        </div>
		    </div>

		    <div class="form-group" id="street">
		       <label for="id_street">{% trans "Gatuadress" %}  </label> 
		       <input id="id_street" type="text"  class="form-control" required="" name="street" maxlength="80">
		         <div class="invalid-feedback">
		            {{ form.street }}
		            {{ form.street.errors }} *
		        </div>
		    </div>

		    <div class="form-group" id="postcode">
		        <label for="id_postcode">{% trans "Postnummer" %}</label> 
		        <input id="id_postcode" class="form-control" required="" type="text" name="postcode" maxlength="10"> 
		        <div class="invalid-feedback">
		            {{ form.postcode }}
		            {{ form.postcode.errors }} *
		        </div>
		    </div>

		    <div class="form-group" id="city">
		        <label class="control-label" > <label for="id_city">{% trans "Postort" %}</label> </label>
		        <input id="id_city" type="text" class="form-control" required="" name="city" maxlength="80">
		         <div class="invalid-feedback">
		            {{ form.city }}
		            {{ form.city.errors }} *
		        </div>
		    </div>
	   
		    <div class="form-group" id="country">
		     <label for="id_country">{% trans "Land" %} </label> </label>
		        <select class="w-100 form-control" name="country" id="id_country">
                        <option value="Sverige">Sverige</option>
                        <option value="Finland">Suomi</option>
                        <option value="Tyskland">Deutschland</option>
                        <option value="Danmark">Danmark</option>
                        <option value="Norge">Norge</option>
                        <option value="Other">Other</option>
                </select>
		    </div>

	        <input id="your_order" type="hidden" value="{% trans 'Din beställning' %}">
	        <input id="your_adress" type="hidden" value="{% trans 'Din adress' %}">
	        <input id="your_production" type="hidden" value="{% trans 'En order till Vamlingbolaget tar ca 3 veckor eftersom vi syr upp dina plagg' %}">
	        <input id="your_post" type="hidden" value="{% trans 'Du betalar mot postförskatt' %}">
        </div>
		</td>
		<td>
                <div class="col-md-8">
			<div class="form-group" id="email">
				 <label for="id_email">{% trans "Email" %} </label>
             
                <input id="id_email" class="form-control" required="" type="text" name="email" maxlength="75" placeholder="you@example.com">
              
				 <div class="invalid-feedback">
					{{ form.email }}
					{{ form.email.errors }} *
				</div>
			</div>

			<div class="form-group" id="phone">
				<label for="id_phone">{% trans "Telefon" %} </label>
				<input id="id_phone" type="text" class="form-control" required="" name="phone" maxlength="20">
				 <div class="invalid-feedback">
					{{ form.phone }}
					{{ form.phone.errors }} *
				</div>
			</div>
    
			<div class="form-check" id="sms">
			
                    <input type="checkbox" class="form-check-input"  id="sms-checkbox" checked='checked' name="sms_checkbox" value="sms"> 
                    <label for="sms-checkbox" class="form-check-label"> {% trans "Jag vill ha sms-avisering" %} </label>
					<input type="hidden" name="sms" id="id_sms" value="yes">
				
            </div>
            <hr/>
          
			<div class="form-group" id="message">
             <label for="id_message">{% trans "Meddelande till beställning" %}  </label>  
                <textarea id="id_message" class="form-control" rows="10" cols="40" name="message"></textarea>
				 
			</div>
        </div>
		</td>
	</tr>
</table>
<table  class="table table-sm" >
	<tr>
		<td>
			<div class="payblock">
			   	
                <div class="form-group float-right">
                    <input type="submit" id="continue_payment" class="btn btn-success" value="{% trans "Betala med Payex" %}"  />
                </div>
        
			</div>
		</td>
	</tr>
</table>

</form>
<div class="hidden hidden_adress_form">
</div>
{% endif %}

{% if not cartitems %}
	{% trans "Det ligger inget i din shoppinglåda än" %}. <a href="/products/">{% trans "Börja utforska utbudet!" %}</a>
{% endif %}

<div class="alert alert-success">
    <a href="/paymentterms/"> {% trans "Se våra betalvillkor här" %} </a>
</div>


