{% extends "collection_base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
<title>Vamlingbolaget | {% trans "Din Beställning" %}  </title>
<meta name="description" content={% trans "Din Beställning av Vamlingbolagets produkter " %} />
{%endblock%}


{% block stretchpage %}
<main role="main" class="col-md-10 offset-md-1 col-lg-10 pt-3 px-4"> 

   <div class="mb-3 vb_important_text"> {% trans "Din Beställning" %} </div>

	<div class="hidden-xs row">
	{% include "checkout/checkout_default_b.html" %}
	</div>

	<div class="visible-xs row"> 
	{% include "checkout/checkout_phone.html" %}
	</div>
</main>
{% endblock %}

