{% extends "collection_base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "Din Beställning" %}  </title>
<meta name="description" content={% trans "Din Beställning av Vamlingbolagets produkter " %} />
{%endblock%}
{% block extra_head %}

{% endblock %}

{% block pagetitle %}
    <legend> {% trans "Din Beställning" %} </legend>
{% endblock %}

{% block allcontent %}
{%if cartitems %}
    <table class="table table-bordered table-striped" >
    <thead>
    <tr>
        <th>
                <span> {% trans "Antal" %}  </span>
        </th>
        <th>
                <span> {% trans "Artikel" %}   </span>
        </th>
        <th>
                <span> {% trans "Färg" %} </span>
        </th>
        <th>
                <span> {% trans "Mönster" %} </span>
        </th>
        <th>
            <span> {% trans "Storlek" %} </span>
        </th>
        <th>
                <span> {% trans "Pris" %} </span>
        </th>
    </tr>
    </thead>

    <tbody>
        {% for item in cartitems %}
        <tr>
        <td>
            <div>
                <span> {{ item.quantity }} {% if item.article.type.order == 7 %} meter {%endif%} </span>
            </div>
        </td>
        <td>
            <div>
                <span> {{ item.article }} i {{item.article.quality|lower}}</span>
            </div>
        </td>
        <td>
            <div>
                <span>{{ item.color }}
                {%if item.color_2%}
                    / {{item.color_2}}
                {%endif%}
                </span>
            </div>
        </td>
        <td>
            <div>
                <span>{{ item.pattern }}
                {%if item.pattern_2%}
                    / {{item.pattern_2}}
                {%endif%}
                
                </span>
            </div>
        </td>
            <td>
                <div>
                    <span>{% if item.article.type.order == 7 %} - {%else%} {{ item.size }} {%endif%}</span>
                </div>
            </td>
            <td>
            <div>
                {%if item.article.discount%}
                <span class="discount"> {{ item.article.f_discount }} </span>
                {%else%}
                {{ item.article.price }}
                {%endif%}
            </div>
        </td>
        {% endfor %}
    </tr>
        {% for b in bargains %}
        <tr>
            <td>
                <div>
                    <span> 1</span>
                </div>
            </td>
            <td>
                <div>
                    <span> {{ b.bargain.title }} (Fynd)</span>
                </div>
            </td>
            <td>
                <div> - </div>
            </td>
            <td>
                <div> - </div>
            </td>
            <td>
                <div> - </div>
            </td>

            <td>
                <div>
                    <span> {{ b.bargain.price }} </span>
                </div>
            </td>
            {% endfor %}

        {%if cartitems %}
    <tr>
        <td class="totalprice" colspan="5" style="text-align: right">
            {% trans "Leverans" %}:
        </td>
        <td id="handling">
            {{ handling }}
        </td>
    </tr>
    <tr>
        <th class="totalprice" colspan="5" style="text-align: right">
            {% trans "Total pris" %} :
        </th>
        <th id="totalprice">
            {{ totalprice }} SEK
        </th>
    </tr>
    {% else %}
        <tr id="empty">
            <td colspan="8">
                {% trans "Det ligger inget i din shoppinglåda än" %}. <a href="/products/">{% trans "Börja utforska utbudet" %}!</a>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
<form action="" method="post" class="form-horizontal" id="order_form">{% csrf_token %}
<table id="" class="table table-striped table-bordered">
    <tr>
        <th>
            {% trans "Adressuppgifter" %}
        </th>
        <th>
            {% trans "Kontaktuppgifter" %}
        </th>
    </tr>
    <tr>
        <td>
            <div class="form-group" id="first_name">
                <label class="col-lg-3 control-label" > <label for="id_first_name">{% trans "Förnamn" %} </label> </label>
                {{ form.subject.first_name}}

                 <div class="col-lg-9">
                    {{ form.first_name }} *
                    {{ form.first_name.errors }}
                </div>
            </div>
            <div class="">



            <div class="form-group" id="last_name">
             <label class="col-lg-3 control-label" > <label for="id_last_name">{% trans "Efternamn" %} </label> </label>
                {{ form.subject.last_name}}
                 <div class="col-lg-9">
                    {{ form.last_name }}
                    {{ form.last_name.errors }} *
                </div>
            </div>
            <div class="form-group" id="street">
                <label class="col-lg-3 control-label" > <label for="id_street">{% trans "Gatuadress" %}  </label> </label>
                {{ form.subject.street}}
                 <div class="col-lg-9">
                    {{ form.street }}
                    {{ form.street.errors }} *
                </div>
            </div>
            <div class="form-group" id="city">
                <label class="col-lg-3 control-label" > <label for="id_city">{% trans "Postort" %}</label> </label>
                {{ form.subject.city}}
                 <div class="col-lg-9">
                    {{ form.city }}
                    {{ form.city.errors }} *
                </div>
            </div>
            <div class="form-group" id="postcode">
                <label class="col-lg-3 control-label" > <label for="id_postcode">{% trans "Postnummer" %}</label> </label>
                {{ form.subject.postcode}}
                {% if field.errors %}< li>{{ field.subject.errors|striptags }}< /li>{% endif %}
                <div class="col-lg-9">
                    {{ form.postcode }}
                    {{ form.postcode.errors }} *
                </div>
            </div>


            <div class="control-group" id="country">
                <label class="col-lg-3 control-label" > <label for="id_country">{% trans "Land" %} </label> </label>
                {{ form.subject.country}}
                  <div class="col-lg-9">
                    {{ form.country }}
                </div>
                <input id="your_order" type="hidden" value="{% trans 'Din beställning' %}">
                <input id="your_adress" type="hidden" value="{% trans 'Din adress' %}">
                <input id="your_production" type="hidden" value="{% trans 'En order till Vamlingbolaget tar ca 3 veckor eftersom vi syr upp dina plagg' %}">
                <input id="your_post" type="hidden" value="{% trans 'Du betalar mot postförskatt' %}">

            </div>
        </td>
        <td>

    <div class="control-group" id="email">
        <label class="col-lg-3  control-label" > <label for="id_email">{% trans "Email" %} </label></label>
        {{ form.subject.email}}
         <div class="col-lg-9">
            {{ form.email }}
            {{ form.email.errors }} *
        </div>
    </div>

    <div class="control-group" id="phone">
        <label class="col-lg-3 control-label" > <label for="id_phone">{% trans "Telefon" %} </label></label>
        {{ form.subject.phone}}
         <div class="col-lg-9">
            {{ form.phone }}
            {{ form.phone.errors }} *
        </div>
    </div>
    <div class="control-group" id="message">
        <label class="col-lg-3 control-label" > <label for="id_message">{% trans "Meddelande till beställning" %}  </label></label>
        {{form.subject.message}}
         <div class="col-lg-9">
            {{ form.message }}
        </div>
    </div>
        </td>
    </tr>
</table>
<table>
    <tr>

        <td width="50%">
        </td>
            <td>
            <div class="span6 right">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active" ><a href="#post" data-toggle="tab" id="C">{% trans "Betala med kort" %}</a></li>
                    <li><a href="#card" data-toggle="tab" id="P">{% trans "Betala via postförskott" %}</a></li>
                </ul>

                {{ form.subject.post }}
                <input type=hidden name="paymentmethod" id="id_paymentmethod" value="C">
                {{ form.paymentmethod.errors }}

                <div class="tab-content">
                    <div class="tab-pane active" id="post">
                          <div>
                              <br />
                              <i>{% trans "Efter genomförd betalning kommer du att skickas tillbaks till oss och ditt köp kommer att bekräftas" %}.</i>
                                <br /><br />
                          </div>

                                <div>
                              <div class="span3">
                                <div class="paymentimg"> <img src="/media/uploads/mastercard_white_140.gif" /> <img src="/media/uploads/verified_visa_white_140.gif" /><img src="/media/uploads/payments_processed_by.jpg" /></div>
                              </div>

                              <div class="span2">
                                 <blockquote> <input type="submit" class="btn btn-success" value="{% trans "Betala med kort" %}"  /></blockquote>
                             </div>
                          </div>
                         <div style="clear: both;"></div>

                    </div>
                    <div class="tab-pane" id="card">
                          <div class="span3">
                              <img src="{{ STATIC_URL }}img/post.jpg" width="50px"/> {% trans "Betala via postförskott" %}
                          </div>

                          <div class="span2">
                              <blockquote> <input type="submit" class="btn btn-success" value="{% trans "Skicka Din Beställning" %}"  /> </blockquote>
                          </div>

                    </div>
                </div>
          </div>
          </td>

    </tr>
</table>

</form>
{% endif %}
{% if not cartitems %}
{% trans "Det ligger inget i din shoppinglåda än" %}. <a href="/products/">{% trans "Börja utforska utbudet!" %}</a>
{% endif %}
<div class="alert alert-success"> När du beställer via postorder tillkommer porto plus postförskottsavgift. Kostnaden uppgår till 50 kronor beroende på paketets vikt. Om vi har tyget i lager levererar vi inom tre veckor.
    Du har öppet köp i en vecka och kan returnera plagget oanvänt inom en vecka från det att du hämtat ut det på posten. </div>


{% endblock %}
