{% extends "collection_base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "pacsoft " %}  </title>
<meta name="description" content={% trans "Tack för din Beställning av Vamlingbolagets produkter " %} />

{%endblock%}


{% block allcontent %}
	{% if user.is_superuser %}
    <ul class="list-group">
 	    <li class="list-group-item"> Costumer:  {{ order.first_name  }}  {{ order.last_name   }} </li>
 	    <li class="list-group-item"> Ordernumber : {{ order.order_number  }}  </li>
 	    <li class="list-group-item"> Email: {{ order.email  }}  </li>
 	    <li class="list-group-item"> Payment method: {{ order.paymentmethod   }}  </li>
 	    <li class="list-group-item"> Payment log: <br> <br> <pre> {{ seekorder  }} </pre> </li>
 	    <li class="list-group-item"> Payment log: <br> <br> <pre> {{ order.payment_log  }} </pre> </li> 
    </ul>
	{% else %}
 	 {{ order  }}
	{% endif %}
{% endblock %}


