{% extends "collection_base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "pacsoft " %}  </title>
<meta name="description" content={% trans "Tack för din Beställning av Vamlingbolagets produkter " %} />

{%endblock%}


{% block allcontent %}
	{% if user.is_superuser %}

<a href="/checkout/consumordercheck/{{ prev_od }}"> PREV <a/> |  
<a href="/checkout/consumordercheck/{{ next_od }}"> NEXT <a/>

    <ul class="list-group">
 	    <li class="list-group-item"> Costumer:  {{ order.first_name  }}  {{ order.last_name   }}  | {{ seekorder.customername  }} </li>
 	    <li class="list-group-item"> Ordernumber : {{ order.order_number  }} | {{ seekorder.yourordernumber  }}  </li>
 	    <li class="list-group-item"> Email: {{ order.email  }} | {{ seekorder.email  }} </li>
 	    <li class="list-group-item"> Payment method: {{ order.paymentmethod   }}  | {{ seekorder.invoicetype  }}</li>
 	    <li class="list-group-item"> Total: {{ order.total   }}  | {{ seekorder.total  }} | {{ seekorder.reaprice }} | {{ seekorder.shipment }} </li>
 	    <li class="list-group-item"> Payment log: <br> <br> <pre> {{ seekorder  }} </pre> </li
 	    <li class="list-group-item"> Payment log: <br> <br> <pre> {{ order.payment_log  }} </pre> </li> 
    </ul>
	{% else %}
 	 {{ order  }}
	{% endif %}
{% endblock %}


