{% extends "collection_base.html" %}
{%block title%}
<title>Vamlingbolaget | {% trans "Din Beställning | Summering " %}  </title>
<meta name="description" content={% trans "Din Beställning | Summering  av Vamlingbolagets produkter " %} />
{%endblock%}
{% block pagetitle %}
    <legend> {% trans "Din Beställning" %}</legend>
{% endblock %}

{% block allcontent %}

    <table class="table table-bordered">
    <thead>
    <tr>
        <th>
                <span> {% trans Antal %}</span>
        </th>
        <th>
                <span> {% trans Artikel %}</span>
        </th>
        <th>
                <span>{% trans  Färg %}</span>
        </th>
        <th>
                <span>{% trans  Mönster %} </span>
        </th>
        <th>
                <span>{% trans  Pris %}</span>
        </th>
    </tr>
    </thead>

        <tbody>
        {% for item in cartitems %}
        <tr>
        <th>
            <div>
                <span> {{ item.quantity }}</span>
            </div>
        </th>
        <th>
            <div>
                <span> {{ item.article }} i {{item.article.quality|lower}}</span>
            </div>
        </th>
        <th>
            <div>
                <span>{{ item.color }}
                {%if item.color_2%}
                    / {{item.color_2}}
                {%endif%}
                </span>
  
            </div>
        </th>
        <th>
            <div>
                <span>{{ item.pattern }}
                {%if item.pattern_2%}
                    / {{item.pattern_2}}
                {%endif%}
            </div>
        </th>
        <th>
            <div>
                <span> {{ item.article.price }} </span>
            </div>
        </th>
        {% endfor %}
        </tbody>    {%if cartitems %}
        <th class="totalprice" colspan="4" style="text-align: right">
            Leverans:
        </th>
        <th id="handling">
            {{ handling }}
        </th>
        </tbody>
        <tbody>
        <th class="totalprice" colspan="4" style="text-align: right">
            {% trans Total pris: %}
        </th>
        <th id="totalprice">
            {{ totalprice }} SEK
        </th>
    </tr>
        </tbody>
    </tbody>
</table>
<legend>{% trans Dina uppgifter %}</legend>
{% endblock %}
