{% extends "base_b.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "Tack för din Beställning " %}  </title>
<meta name="description" content={% trans "Tack för din Beställning av Vamlingbolagets produkter " %} />
{%endblock%}


{% block pagetitle %}
    {% if order != 1 %}

        {% if klarna_html %}
    
            <pre> {{ klarna_html|safe }} </pre>
    
        {% endif %}
    
    {% endif %}
{% endblock %}

{% block stretchpage %}
    {% if order != 1 %}
        <div class="col-12">
        <pre>{% trans "En bekräftelse på din beställing har skickats till" %} : {{order.email}} </pre>
        </div>
        <div class="col-12">
        <pre>{{order.message}}</pre>
        </div>
        <div class="col-12">
        <pre>{% trans "Vi hör av oss om vi har några frågor" %}. </pre>
        </div>
        <div class="col-12">
        <span class="hidden" id="order_num">{{order.order_number}}</span>  
        </div>


<script> $( document ).ready(function() {

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
}); // --- CSRF end


  	order_num = $("#order_num").text(); 

  	if (order_num) {

		$.ajax({
			type:"POST",
			url:"/checkout/fortnox/",
			data: {
			order_id: order_num 
		    },
			success: function(data){
                $("#widget_quantity").text('0');
                $("#widget_total").text('0'); 
		    	}
  		});
	}
});

</script>
    {% endif %}

        <legend> <a href="/products/">{% trans "Utforska utbudet!" %}</a>
            </legend>
		- {{ message }}
        {% if cancel %}
            {% trans "Gå till" %} <a href="/checkout/" id="token">  {% trans "Beställningen" %} </a>
            <br /><img src="/media/uploads/mah-jongbilder/manchesterjacka_medium.jpg" />
        {% endif %}




{% endblock %}
