{% extends "collection_base.html" %}
{% load i18n %}
{%block title%}
<title>Vamlingbolaget | {% trans "Tack för din Beställning " %}  </title>
<meta name="description" content={% trans "Tack för din Beställning av Vamlingbolagets produkter " %} />
{%endblock%}
{% block pagetitle %}
    {% if order %}
        <legend> {{ message }} </legend>
    {% endif %}
{% endblock %}

{% block allcontent %}
    {% if order %}
        <pre> {% trans "Ordernummer" %}: {{ order.order_number}} <br></pre>
        <pre>{% trans "En bekräftelse på din beställing har skickats till" %} : {{order.email}} </pre>
        <pre>{{order.order}}</pre>
        <pre>{% trans "Vi hör av oss om vi har några frågor" %}. </pre>
    {% endif %}

        <legend>  <a href="/products/">{% trans "Fortsätt att utforska utbudet!" %}</a> </legend>


{% endblock %}
