{% extends "collection_base.html" %}
{% load i18n %}
{% block pagetitle %}
    {% if order %}
        <legend> {{ message }} </legend>
    {% endif %}
{% endblock %}

{% block allcontent %}
    {% if order %}
        <pre> {% trans "Ordernummer" %}: {{ order.order_number}} <br></pre>
        <pre>{% trans "En bekräftelse på din beställing har skickats till" %} : {{order.email}} </pre>
        <pre>{{order.order}}</pre>
        <pre>{% trans "Vi hör av oss om vi har några frågor" %}. </pre>
    {% endif %}
<a href="/products/">{% trans "Fortsätt att utforska utbudet!" %}</a>
{% endblock %}
