{% extends "base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block superstretchpage %}
<div class="container-fluid"> <!-- fluid-container  -->
    <div class="text-center mx-4 start">  <!---  start --> 
        <div class="row">
            <a href="/products/full/">
                <img src="/media/{{features.0.feature_image}}" width="100%"/>
            </a>	
        </div>
        
    {% for feature in features %}
        {% if forloop.first%} 
        {%else%} 
        <!-- full size img 'Fullpost'-->
        {% if feature.mediatype == 'F' %}
        <div class="row">
            <a href="/products/full/">
                <img src="{% version feature.feature_image 'large' %}" width="100%"/>
            </a>	
        </div>
        
        {% elif feature.mediatype == 'L' %}
        <!-- 'halfpostfullLeft' starts -->  
        <div class="row">
            <div class="col-md-6 mb-6">
                <a href="{{ feature.link_to }}">  
                <img src="{% version feature.feature_image 'large' %}" alt="{{ feature.heading }}" width="100%"> 
                </a>
            </div>             
        {% elif feature.mediatype == 'H' %}
        <!-- 'halfpostfullRight' ends -->   
            <div class="col-md-6 mb-6">
                <a href="{{ feature.link_to }}">  
                <img src="{% version feature.feature_image 'large' %}" alt="{{ feature.heading }}" width="100%"> 
                </a>
            </div>             
        </div> <!-- end row -->  

        {% elif feature.mediatype == 'T' %}
        <!-- 'halfposttopLeft' start -->
        <div class="row">
            <div class="col-md-6 mb-6">
                <div class="grid-item top0" style="text-align:right;" >
                    <h4> {{ feature.heading }} </h4>
                    <h4> {{ feature.heading_extra}}  </span></h4>
                    <a href="{{ feature.link_to }}">  
                        <img src="{% version feature.feature_image 'large' %}" data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                    </a>
                </div> 
            </div> 
         
        {% elif feature.mediatype == 'P' %}
        <!-- 'halfposttopRight' ends -->
            <div class="col-md-6 mb-6">
                <div class="grid-item top0">
                    <h4 style="margin-left: 40px;"> {{ feature.heading }} </h4>
                    <h4 style="margin-left: 40px;"> {{ feature.heading_extra}} </h4>
                    <a href="{{ feature.link_to }}">  
                        <img src="{% version feature.feature_image 'large' %}" data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                    </a>
                </div> 
            </div> 
            <div class="col-md-1">.</div>
        </div> <!-- end row -->   

        {% elif feature.mediatype == 'B' %}
        <!-- 'halfpostbottomLeft' starts--> 
        <div class="row">
            <div class="col-md-6 mb-6" style="text-align:right;">
                <a href="{{ feature.link_to }}">  
                    <img src="{% version feature.feature_image 'large' %}" data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                </a>
                <div style="text-align:right;" >
                    <h4 style="margin-left: 40px;"> {{ feature.heading }} </h4>
                    <h4 style="margin-left: 40px;"> {{ feature.heading_extra}} </h4>
                </div> 
            </div> 
       
        {% elif feature.mediatype == 'J' %}
        <!-- 'halfpostbottomRight' end --> 
            <div class="col-md-6 mb-6">
                <a href="{{ feature.link_to }}">  
                    <img src="{% version feature.feature_image 'large' %}" data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                </a>
                
               
                <h4 style="margin-left: 40px;"> {{ feature.heading }} </h4>
                <h4 style="margin-left: 40px;"> {{ feature.heading_extra}} </h4>
              
            </div> 
           
        </div>	<!-- end row -->  
        {% else %}
        {%endif%} 

        {% endif %}
    {% endfor %}     
    </div> <!--- / start --> 
</div> <!--- / fluid-container --> 
{% endblock %}  <!-- / superstretchpage -->
