{% extends "base.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block stretchpage %}
    
<div class="hidden-xs">
    <!-- Carousel for larger screens -->

    <div class="spanfullscreen">
		<div class="bs-docs-example">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner" >
				  	{%for image in images%}
				    <div class="item {% if forloop.first%} active {%endif%} spanfullscreen">
				 
				      	<a href="/products/type/kvinna/"><img src="{{MEDIA_URL}}{{image.image}}" alt="{{image.name}}" name="{{image.name}}"/></a>
				    </div>
					{%endfor%}
				</div>
				<div class="left"  ><a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a></div>
				<div class="right" ><a class="right carousel-control"  href="#myCarousel" data-slide="next">&rsaquo;</a></div>
		  	</div>
		</div>
    </div>  <!-- end fulscreen --> 


  <div class="container">
  	<div class="nav" style="clear:both;"></div>
      <hr>
      {% if features %}
      <h1 class="text-center"> Theme: {{ theme1.0.title }}  </h1>
      <hr>
    <div> {{feature.feature_image}}
    <div class="grid">
      {% for feature in features %}
      <div class="col-md-6">
        <div class="grid-item">
          <a href="{{ feature.link_to }}">  
            <img src="{% version feature.feature_image 'medium' %}"  class="featurette-image img-responsive_1 center-block" data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
            <div class="artname"> {{ feature.heading }} </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
        {% endif %}
    </div>
  </div>  <!-- end container --> 
</div>  <!-- end hidden xs -->

<div class = "visible-xs">
    <!-- vis mobile --> 
	<div class="list-group">
    <a href="/products/type/kvinna/" class="list-group-item"> 
			<div class="women_image">
				<div class="textonimage"> DAM </div> 
		    </div>
			</a>
	 <hr>
     {% if features %}
     {% for feature in features %}

		<a href="{{ feature.link_to }}" class="list-group-item"> 
			<div class="mobile_image">
      <img src="/media/uploads/front/img_{{ feature.order }}.jpg" class="mobile_image" alt="{{ feature.heading }} image">
				<div class="textonimage"> {{ feature.heading }}</div> 
		  </div>
			</a>
	 <hr>
     {% endfor  %}
           {% endif  %}
	<div class="list-group">
	  <a href="/cart/show/" class="list-group-item"> {% trans "Shoppinglåda" %}</a>
	</div>
	<hr>
	<div class="list-group">
		<a href="/collection/new/" class="list-group-item">{% trans "Kollektion" %}</a>
		<a href="/products/type/kvinna/" class="list-group-item">{% trans "Shop" %}</a>
		<hr>
		<a href="/news/" class="list-group-item">{% trans "Nyheter" %}</a>
		<a href="/galleries/" class="list-group-item">{% trans "Bildgallerier" %}</a>
		<hr>
		<a href="/about/" class="list-group-item">{% trans "Om oss" %}</a>
		<a href="/shops/" class="list-group-item">{% trans "Butiker" %}</a>
		<a href="/order/" class="list-group-item">{% trans "Beställ" %}</a>
		<a href="/newsletter/" class="list-group-item">{% trans "Nyhetsbrev" %}</a>                           
	</div>
</div> <!--- list group ends --> 
</div> <!--- vis mobile ends --> 

	<div class="nav" style="clear:both;"></div>

<footer>
  {% include "footer.html" %}
</footer>

    <script>
      $(document).ready(function(){
        $('.carousel').carousel(
          {interval:6000}
        )
      });
    </script>
{% endblock %}
