{% extends "base_b.html" %}
{% load i18n %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block superstretchpage %}
<div class="container-fluid"> <!-- fluid-container  -->
    <div class="text-center">  <!---  start --> 
        <div class="row pb-3">
            <a href="/products/full/">
                <div class="downscroll"> <i class="fa far fa-w-10 fa-caret-down"></i> </div>
                <img src="/media/{{features.0.feature_image}}" width="100%"/>
            </a>	
        </div>
        
    {% for feature in features %}
        {% if forloop.first%} 
        {%else%} 
       
        {% if feature.mediatype == 'F' %}
         <!-- full size img 'Fullpost'-->
        <div class="row pb-3 px-3">
            <div class="col-12 p-0">
                <a href="{{ feature.link_to }}">
                   
                    <img src="{{ feature.feature_image.url }}" width="100%"/>

                
                </a>	
            </div>
        </div>
        
        {% elif feature.mediatype == 'L' %}
        <!-- 'halfpostfullLeft' starts -->  
        <div class="row">
            <div class="col-md-6 mb-5">
                <a href="{{ feature.link_to }}">  
                <img src="{{ feature.feature_image.url }}" class="img-fluid" alt="{{ feature.heading }}" width="100%"> 
                </a>
            </div>             
        {% elif feature.mediatype == 'H' %}
        <!-- 'halfpostfullRight' ends -->   
            <div class="col-md-6 mb-5">
                <a href="{{ feature.link_to }}">  
                <img src="{{ feature.feature_image.url }}"  class="img-fluid"  alt="{{ feature.heading }}" width="100%"> 
                </a>
            </div>             
        </div> <!-- end row -->  

        {% elif feature.mediatype == 'T' %}
        <!-- 'halfposttopLeft' start -->
        <div class="row">
            <div class="col-md-6 mb-5">
                
                    <span> {{ feature.heading }} </span>
                    <span class="muted"> {{ feature.heading_extra}}  </span>
                   
                    <a href="{{ feature.link_to }}">  
                        <img src="{{ feature.feature_image.url }}"  class="img-fluid"  data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                    </a>
               
            </div> 
         
        {% elif feature.mediatype == 'P' %}
        <!-- 'halfposttopRight' ends -->
            <div class="col-md-6 mb-5">
         
                    <span style="margin-left: 40px;"> {{ feature.heading }} </span>
                    <span class="muted" style="margin-left: 40px;"> {{ feature.heading_extra}} </span>
                    <a href="{{ feature.link_to }}">  
                        <img src="{{ feature.feature_image.url }}"  class="img-fluid"  data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                    </a>
          
            </div> 
           
        </div> <!-- end row -->   
        {% elif feature.mediatype == 'V' %}
            <!-- full  video-->
            <div class="row pb-3 px-3">
                    <div class="col-12 p-0">
                        <a href="{{ feature.link_to }}">
                            <div class="vimeoDiv">
                                <iframe data-aspectratio="0.5625" class="vimeoVid" src="{{ feature.body }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <div> {{ feature.heading }}  <span class="muted"> {{ feature.heading_extra}} </span> </div>
                            </div> 
                            </a>

                    </div>
                </div>
        {% elif feature.mediatype == 'B' %}
        <!-- 'halfpostbottomLeft' starts--> 
        <div class="row">
            <div class="col-md-6 mb-5">
                <a href="{{ feature.link_to }}">  
                    <img src="{{ feature.feature_image.url }}" class="img-fluid"  data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                </a>
                <div> {{ feature.heading }} </div>
                <div class="muted" > {{ feature.heading_extra}} </div>
            </div>
        {% elif feature.mediatype == 'J' %}
        <!-- 'halfpostbottomRight' end --> 
            <div class="col-md-6 mb-5">
                <a href="{{ feature.link_to }}">  
                    <img src="{{ feature.feature_image.url }}"  class="img-fluid"  data-src="holder.js/500x500/auto" alt="{{ feature.heading }}"> 
                </a>
                <div> {{ feature.heading }} </div>
                <div class="muted"> {{ feature.heading_extra}} </div>             
            </div>
        </div>	<!-- end row -->  
        {% else %}
        {%endif%} 

        {% endif %}
    {% endfor %}     
    </div> <!--- / start --> 
</div> <!--- / fluid-container --> 
{% endblock %}  <!-- / superstretchpage -->
