{% extends "base.html" %}
{% load fb_versions %}
{% version model.field_name version_prefix %}

{% block stretchpage %}
    <legend> Välkommen Vamlingbolaget </legend>
    <div id= "myCarousel" class="spanfullscreen">
      <div class="carousel slide">
        <div class="carousel-inner">
          {%for image in images %}
            {%if forloop.first  %}
              <div class="item active">
            {%else%}
              <div class="item">
            {%endif%}
              <img src="{{ MEDIA_URL}}{{ image.image }}" />        
            </div>
          {%endfor%}
        </div>
      </div>
    </div>


{% endblock %}
