{% extends "base.html" %}
{% block pagetitle %}
<legend> Välkommen Vamlingbolaget </legend>
{% endblock %}

{% block sidebar %}
   <div>
     <h4>Nyheter</h4>
     <dl>
    {%for item in news %}
      </dd><h5>{{item.title}}</h5>
      {{item.body|safe|linebreaks}}
    {%endfor%}
    </dl>
    </div>
{% endblock %}

{% block content %}
   <div class="span8">


       <div> {{frontpage.body|safe|linebreaks}}

       </div>
{% endblock %}

 
 <!-------------------------------------------------------------------
        {%for g in gallery%}
            <div class="halffullscreen">
              <a href="#" class="image {{forloop.counter0}}">
                <img src="{{MEDIA_URL}}{{g.feature_image}}"  name="{{g.feature_image.name}}" />
              </a>
            </div>
        {%endfor%}
        {%for image in images%}
            <div class="halffullscreen">
              <a href="#" class="image {{forloop.counter}}">
                <img src="{{MEDIA_URL}}{{image.image}}" name="{{image.name}}" />
              </a>
            </div>
        {%endfor%}
    </div>
-->    